.env
db.sqlite3

venv/
media/

**/migrations/**
!**/migrations
!**/migrations/__init__.py

.git

__pycache__/
*/__pycache__/

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid

**/CharPage/

.log
.idea

htmlcov

**/ace-editor/
