{% extends 'base.html' %}
{% load static %}
{% load char_page_tags %}


{% block head %}
    <script src="{% static 'js/javascript/zamimg_power.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/javascript/wow-model-viewer/viewer_wrath.min.js' %}"></script>
    <script src="{% static 'js/javascript/wow-model-viewer/model_viewer_utils.js' %}"></script>
    <script>const whTooltips = {colorLinks: false, iconize: 'large', renameLinks: false};</script>
    <script>
    var data = {};
    const csrftoken = Cookies.get('csrftoken');
    function add_talent_open(){
    document.querySelector(".enter_talent").style.display = "block";
    document.querySelector(".lightbox-overlay").style.display = "block";

    document.addEventListener('keydown', function(event) {
        if (event.code == 'Escape') {
            save_menu_hide()
        }
    });

};

function save_menu_hide(){
    document.querySelector(".enter_talent").style.display = "none";
    document.querySelector(".lightbox-overlay").style.display = "none";

};

function send_data_talent(event){
     var e = event || window.event;
     var target = e.target;
     var talent_id = target.getAttribute("talent_id")
     data["talent_id"] = talent_id

      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: document.URL,
        data: JSON.stringify(data),
        headers: { 'X-CSRFToken': csrftoken },

        success: function(data, textStatus, jqXHR){
            location.reload();
        }
        });
};

function send_data_deltalent(event){
     var e = event || window.event;
     var target = e.target;
     var talent_id = target.getAttribute("talent_id")
     data["deltalent_id"] = talent_id

      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: document.URL,
        data: JSON.stringify(data),
        headers: { 'X-CSRFToken': csrftoken },

        success: function(data, textStatus, jqXHR){
            location.reload();
        }
        });
};


</script>
<script>
  let character_data = "{{ character_data }}";
  let char_items2 = [];
  const url_unique_dressing_room = "{% url 'char_page_room' room_id %}";

  let debug_mode = "False".toLowerCase();
  debug_mode = JSON.parse(debug_mode ? debug_mode : false);
</script>
{% endblock %}

{% block css %}
    <style>
   /* main box settings */
.dropdown[_ngcontent-gox-c59] img[_ngcontent-gox-c59] {
height: 20px;
margin-right: 10px
}

/* color menu */
.dropdown-menu[_ngcontent-gox-c59] { /* полоска под дропдаун меню */
background-color: #000;
border-bottom: 2px solid #1fb8ff;
padding-bottom: 1px;
box-shadow: 0 0 30px 10px #ffffff12;
}

/* color pri hover */
.dropdown-menu[_ngcontent-gox-c59] .dropdown-item[_ngcontent-gox-c59] {
color: #fff;
cursor: Pointer;
padding: 0rem 0rem
}
.dropdown-menu[_ngcontent-gox-c59] .dropdown-item[_ngcontent-gox-c59]:hover {
background-color: #252525
}

/* ramka main box */
.btn-select-lang[_ngcontent-gox-c59] {
color: #fff;
border-color: #343a40;
background-color: #201e21;
padding: 2px 10px
}

/* pri navedenii na main box */
.btn-select-lang[_ngcontent-gox-c59]:hover {
background-color: #151515
}
#dropdownMenuButton[_ngcontent-gox-c59] img[_ngcontent-gox-c59],
.dropdown-menu[_ngcontent-gox-c59] .dropdown-item[_ngcontent-gox-c59] img[_ngcontent-gox-c59] {
vertical-align: sub
}

    /* settings btns v menu */
.russian-btn {
  border:none;
  width: 158px;
  height: 25px;
  background: url("{% static 'img/langue/RU.svg' %}") no-repeat 10px 2px;
  background-size: auto 85%;
  text-align: center;
  padding-left: 30px;
  color:#fff;
  font-family: 'Inter', sans-serif;
}
.english-btn {
  border:none;
  width: 158px;
  height: 25px;
  background: url("{% static 'img/langue/EN.svg' %}") no-repeat 10px 2px;
  background-size: auto 85%;
  text-align: center;
  padding-left: 30px;
  color:#fff;
  font-family: 'Inter', sans-serif;


}

    </style>
{% endblock %}

{% block content %}

<div class="main">

        <div class="spanmenu" id="spanmenu">

            <div class="spanmenu-close">
                <img src="{% static 'img/icon/Close.png' %}">
            </div>

            <div class="type-slot">
                <p>type item</p>
            </div>

            <div class="change" id="change">
                <p>Выбрать</p>
            </div>

            <div class="unequip" id="unequip">
                <p>Снять</p>
            </div>

    </div>

        <div class="char-header">

            <div class="item-char-header">

            <div class="rass-char" id="head-item">
                <img src="{{ race_image }}">
            </div>

            <p class="char-name">{{ name }}</p>

            <p class="char-info">{{ race }} {{ class }} 80ур.</p>


      </div>

        </div>

        <div class="main-char">

            <div class="char-list">

                <div class="edit-slot">

                    <div class="btn-close">

                        <img src="{% static 'img/icon/Close.png' %}">

                    </div>

                    <div class="seacrh-item" id="search-item">

<!--            <div class="search-reset">-->

<!--                <img src="{% static 'img/icon/reset.png' %}">-->

<!--            </div>-->

            <div class="seacrh-input" id="seacrh-input">

                <p id="placeholder-search">ID</p>
                <input id="input-item-id">

            </div>

<!--            <div class="seacrh-btn">-->

<!--                <p>Найти</p>-->

<!--            </div>-->

        </div>


                    <div class="btn-access">

            <div class="btn-acc">

                <p>Применить</p>

            </div>

        </div>

            </div>
                <div class="user-char-list">
                  {% for char in user_chars %}
    <a href="/char/{{ char.room_id }}">
                      <div class="char-list-item" char_id="{{ char.room_id }}">
                        <p class="char-list-info-name">{{ char.char_name }}</p>
    <p class="char-list-info-description">{% get_race_name_rus char.race %} {{ char.char_class }} 80ур.</p>
                      </div>
                  </a>
                  {% endfor %}
                </div>
          </div>

            <div class="character">

                    <div class="item-left">

                        <div class="item-slot" id="    item-slot" slot="1">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_head.jpg&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>

                        <div class="item-slot" id="item-slot" slot="2">

                                <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_neck.jpg&quot;);"></ins>
                                <del></del>
                                <a href="#"></a>

                          </div>

                        <div class="item-slot" id="item-slot" slot="3">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_shoulder.jpg&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>

                        <div class="item-slot" id="item-slot" slot="16">

                                <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_chest.jpg&quot;);"></ins>
                                <del></del>
                                <a href="#"></a>

                        </div>

                        <div class="item-slot" id="item-slot" slot="5">

                                <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_chest.jpg&quot;);"></ins>
                                <del></del>
                                <a href="#"></a>

                        </div>

                        <div class="item-slot" id="item-slot" slot="4">

                                <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_shirt.jpg&quot;);"></ins>
                                <del></del>
                                <a href="#"></a>

                        </div>

                        <div class="item-slot" id="item-slot" slot="19">

                                <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_tabard.jpg&quot;);"></ins>
                                <del></del>
                                <a href=""></a>

                        </div>

                        <div class="item-slot" id="item-slot" slot="9">

                                <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_wrists.jpg&quot;);"></ins>
                                <del></del>
                                <a href="#"></a>

                        </div>
                    </div>

                    <div class="model">
                        <div class="save-char-opts-icon" style="display: none;"></div>
                        <div id="model_3d"></div>

                        <div class="input-checkbox">

                            <div class="checkbox">

                                <input type="checkbox" class="head-hide" checked>
                                <p class="hide-text">Голова</p>

                            </div>

                            <div class="checkbox">

                                <input type="checkbox" class="cloak-hide" checked>
                                <p class="hide-text">Плащ</p>

                            </div>

                        </div>

                    </div>

                    <div class="item-right">

                        <div class="item-slot" slot="10">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_hands.jpg&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>

                        <div class="item-slot" slot="6">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_waist.jpg&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>

                        <div class="item-slot" slot="7">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_legs.jpg&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>

                        <div class="item-slot" slot="8">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_feet.jpg"&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>

                        <div class="item-slot" slot="11">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_finger.jpg&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>

                        <div class="item-slot" slot="12">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_finger.jpg&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>

                        <div class="item-slot" slot="13">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_trinket.jpg&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>

                        <div class="item-slot" slot="14">

                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_trinket.jpg&quot;);"></ins>
                            <del></del>
                            <a href="#"></a>

                        </div>
                    </div>

                    <div class="item-bottom">

                        <div class="item-slot" slot="21">

                        <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_mainhand.jpg&quot;);"></ins>
                        <del></del>
                        <a href="#"></a>

                    </div>

                        <div class="item-slot" slot="22">

                    <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_offhand.jpg&quot;);"></ins>
                    <del></del>
                    <a href="#"></a>

                </div>

                        <div class="item-slot" slot="18">

                    <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inventoryslot_ranged.jpg&quot;);"></ins>
                    <del></del>
                    <a href="#"></a>

                </div>

                    </div>

                </div>

            <div class="character-description">
                    {% if proffesion1 %}
                    <div class="block-professions">

                        <div class="border-professions">

                            <p>Профессии</p>

                        </div>

                        <div class="professions">

                            <div class="prof">

                                <div class="prof-image">

                                    <img src="{{ proffesion1_icon }}">

                                </div>

                                <div class="test1">

                                    <div class="prof-name">

                                        <p>{{ proffesion1 }}</p>

                                    </div>

                                    <div class="progresbar">

                                    <div id="progresbar">

                                    <p>450</p>

                                </div>

                                    </div>

                                </div>



                            </div>
                            {% if proffesion2 %}
                            <div class="prof">

                                <div class="prof-image">

                                    <img src="{{ proffesion2_icon }}">

                                </div>

                                <div class="test1">

                                    <div class="prof-name">

                                        <p>{{ proffesion2 }}</p>

                                    </div>

                                    <div class="progresbar">

                                        <div id="progresbar">

                                            <p>450</p>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            {% endif %}
                        </div>

                    </div>
                    {% endif %}

                    {% if talents|length > 0 or is_creator %}
                    <div class="block-talents">

                        <div class="border-talents">

                            <p>Таланты</p>

                        </div>

                        <div class="talents">
                    {% endif %}
                            {% if talents|length > 0 %}
                                {% if talents|length > 1 %}
                                    {% for talent in talents %}
                                        <div class="talent">

                                <div class="talent-image">

                                    <img src="{{ talent.talent_spec }}">

                                </div>

                                <div class="test1">

                                    <div class="talents-name">

                                        <a href="{{ talent.url }}">
                                        <p>{{ talent.name }}</p>
                                        </a>

                                    </div>

                                </div>
                                {% if is_creator %}
                                            <div class="del_talent" talent_id="{{ talent.id }}" onclick="send_data_deltalent(event)">

                                                <img src="{% static 'img/other/del.png' %}">

                                            </div>
                                {% endif %}

                            </div>
                                    {% endfor %}
                                {% else %}
                                    {% for talent in talents %}
                                        <div class="talent">

                                <div class="talent-image">

                                    <img src="{{ talent.talent_spec }}">

                                </div>

                                <div class="test1">

                                    <div class="talents-name">

                                        <a href="{{ talent.url }}">
                                        <p>{{ talent.name }}</p>
                                        </a>

                                    </div>

                                </div>
                                {% if is_creator %}
                                            <div class="del_talent" talent_id="{{ talent.id }}" onclick="send_data_deltalent(event)">

                                                <img src="{% static 'img/other/del.png' %}">

                                            </div>
                                {% endif %}

                            </div>
                                    {% endfor %}
                                    {% if is_creator %}
                                    <div class="talent" onclick="add_talent_open()" style="cursor: pointer;">

                                <div class="talent-image">

                                    <img src="{% static 'img/Talents/Stealth.png' %}">

                                </div>

                                <div class="test1">

                                    <div class="talents-name">


                                        <p>Добавить таланты</p>


                                    </div>

                                </div>

                            </div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if is_creator %}
                                    <div class="talent" onclick="add_talent_open()" style="cursor: pointer;">

                                <div class="talent-image" onclick="add_talent_open()">

                                    <img src="{% static 'img/Talents/Stealth.png' %}">

                                </div>

                                <div class="test1">

                                    <div class="talents-name">

                                        <p>Добавить таланты</p>

                                    </div>

                                </div>

                            </div>
                                {% endif %}
                            {% endif %}

                        </div>

                    </div>

                </div>

        </div>


    </div>
<div class="lightbox-overlay" style="height: 100%; display: none;"></div>

<div class="enter_talent">
    <p>Выберите таланты</p>
    <div class="talent_list">
        <div class="talent_obj">
            <img src="{% static 'img/classes/druid.jpg' %}">
            <img src="{% static 'img/Talents/trees/druid_1.jpg' %}">
            <p>Название талантов</p>
        </div>
        {% for talent in talents_all %}
        <div class="talent_obj" talent_id="{{ talent.id }}" onclick="send_data_talent(event)">
            <img src="{{ talent.talent_class }}">
            <img src="{{ talent.talent_spec }}">
            <p>{{ talent.name }}</p>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}

{% block js %}
<script type="module">



function debounce(func, timeout = 300){
  let timer;
  return (...args) => {
    clearTimeout(timer);
    timer = setTimeout(() => { func.apply(this, args); }, timeout);
  };
}

const GENDERS = {
    0: 'Male',
    1: 'Female'
};

let RACES = {
    1: "Human",
    2: "Orc",
    3: "Dwarf",
    4: "Nightelf",
    5: "Scourge",
    6: "Tauren",
    7: "Gnome",
    8: "Troll",
    9: "Goblin",
    10: "Bloodelf",
    11: "Draenei",
    12: "Felorc",
    13: "Naga_",
    14: "Broken",
    15: "Skeleton",
    16: "Vrykul",
    17: "Tuskarr",
    18: "Foresttroll",
    19: "Taunka",
    20: "Northrendskeleton",
    21: "Icetroll"
};

const WRATH_RACES_LEN = Math.max(...Object.keys(RACES));

const ALL_RACES = RACES;

const RACES_LEN = Math.max(...Object.keys(RACES));

const ONLY_MALE_RACES = [
    // wrath
    12, // "Felorc"
    14, // "Broken"
    15, // "Skeleton"
    16, // "Vrykul"
    17, // "Tuskarr"
    18, // "Foresttroll"
    19, // "Taunka"
    20, // "Northrendskeleton"
    21, // "Icetroll"
    // live
    33  // "Thinhuman"
];

const RACES_WITHOUT_ICON = [
    // wrath
    12, // "Felorc"
    13, // "Naga_"
    14, // "Broken"
    15, // "Skeleton"
    16, // "Vrykul"
    17, // "Tuskarr"
    18, // "Foresttroll"
    19, // "Taunka"
    20, // "Northrendskeleton"
    21, // "Icetroll"
    // live
    // 23, // "Gilnean"
    // 25, // "Pandarena"
    // 26, // "Pandarenh"
    33  // "Thinhuman"
];

const WRATH_MOUNTS_LEN = 290;
const WRATH_ENCHANTS_LEN = 28;
const charData = getCharDataFromContext();

console.log("CHARDATA", charData)
window.dressUI = {
    room_creator: charData.room_creator,
    allow_edit: charData.allow_edit,
    // Default model options
    model_opts: {
        race: charData.race,
        gender: charData.gender,
        items: charData.items,
        face: 1,
        //hair_color: 3,
        //hair_style: 1,
        //horn_style: 1,
        //piercings: 3,
        //skin_color: 14,

        // 'Оружия ближнего боя':
        // 15, 22, 23 (лев. рука)
        // 13, 17, 21, 25, 26 (прав. рука)
        // 'все дальнобойные кроме луков':
        // 15, 22, 23 (лев. рука)
        // 13, 17, 21, 25, 26 (прав. рука)
        // 'только луки':
        // 15, 22, 23 (лев. рука)
        sheathMain: 8,
        sheathOff: 9,
        generalOptions: {
            mount: { type: 8, id: 0 },
            // pet: {type: 8, id: 0, scale: 0.8, offset: [0, -1.15, 0]}, // X, Y, Z
            // background: "background-181818.png",
            // background: "background-classic-181818.png",
            // background: "background-classic-ddd.png"
        }
    },
    active_cat: 'gear',
    gear: {
        items_menu: {
            slot1: { name: 'Head', quality: 4, index: 0, type: 'Cloth', available_types: ["Cloth", "Leather", "Mail", "Plate", "Miscellaneous"] },
            slot3: { name: 'Shoulder', quality: 4, index: 0, type: 'Cloth', available_types: ["Cloth", "Leather", "Mail", "Plate", "Miscellaneous"] },
            slot16: { name: 'Back', quality: 4, index: 0, type: 'Cloth', available_types: ["Cloth"] },
            slot5: { name: 'Chest', quality: 4, index: 0, type: 'Cloth', available_types: ["Cloth", "Leather", "Mail", "Plate", "Miscellaneous"] },
            slot4: { name: 'Shirt', quality: 4, index: 0, type: 'Miscellaneous', available_types: ["Miscellaneous"] },
            slot19: { name: 'Tabard', quality: 4, index: 0, type: 'Miscellaneous', available_types: ["Miscellaneous"] },
            slot9: { name: 'Wrist', quality: 4, index: 0, type: 'Cloth', available_types: ["Cloth", "Leather", "Mail", "Plate", "Miscellaneous"] },
            slot10: { name: 'Hands', quality: 4, index: 0, type: 'Cloth', available_types: ["Cloth", "Leather", "Mail", "Plate", "Miscellaneous"] },
            slot6: { name: 'Waist', quality: 4, index: 0, type: 'Cloth', available_types: ["Cloth", "Leather", "Mail", "Plate", "Miscellaneous"] },
            slot7: { name: 'Legs', quality: 4, index: 0, type: 'Cloth', available_types: ["Cloth", "Leather", "Mail", "Plate"] },
            slot8: { name: 'Feet', quality: 4, index: 0, type: 'Cloth', available_types: ["Cloth", "Leather", "Mail", "Plate", "Miscellaneous"] },
            slot21: { name: 'MainHand', quality: 4, index: 0, type: 'Axe', available_types: ["Axe", "Sword", "Mace", "Dagger", "Fist Weapon", "Staff", "Polearm", "Fishing Pole", "Exotic", "Miscellaneous"] },
            slot22: { name: 'OffHand', quality: 4, index: 0, type: 'Axe', available_types: ["Axe", "Sword", "Mace", "Dagger", "Fist Weapon", "Shield", "Miscellaneous"] },
            slot23: { name: 'Ranged', quality: 4, index: 0, type: 'Bow', available_types: ["Bow", "Gun", "Wand", "Crossbow", "Thrown"] },
            slot021: { name: 'Enchants', quality: 1, index: 0, type: '', available_types: [] },
            slot022: { name: 'Enchants', quality: 1, index: 0, type: '', available_types: [] }
        }
    },
    char: {
        race_id: charData.race,
        gender_id: charData.gender,
        anim: 0,
        default_anim: 0,
        sheath: 0,
        sheath_opts: [8, 9],
        only_item: false,
        only_item_data: { type: 1, id: 58187, itemId: 45176, slotId: 21 } // меч из пенопласта
    },
    face: {
        id: '#dressing-room-face-settings',
        key: 'face',
        fields: [],
        max_len: [],
        min_len: [],
        current: charData.face,
        have_text_opt: []
    }
};

function slotIdIsExists(slotId, items = window.dressUI.model_opts.items) {
    for (const i in items) {
        if (items[i][0] == slotId) return i;
    };
    return false;
};

function updateSheathInfo() {
    const slot21 = slotIdIsExists(21);
    const slot22 = slotIdIsExists(22);
    const slot23 = slotIdIsExists(23);

    if (slot21 === false && slot22 === false && slot23 === false) {
        // console.log('все слоты пустые');
        window.dressUI.char.sheath_opts = [[-1, -1]];

    } else if (slot21 !== false && slot22 === false && slot23 === false) {
        // console.log('только первый слот занят');
        window.dressUI.char.sheath_opts = [[-1, -1], [1, 1], [2, 2]];

    } else if (slot21 === false && slot22 !== false) {
        // console.log('только второй слот занят');
        window.dressUI.char.sheath_opts = [[-1, -1], [3, 3], [1, 1], [1, 3], [3, 1]];

    } else if (slot21 === false && slot23 !== false) {
        // console.log('только третий слот занят');
        window.dressUI.char.sheath_opts = [[-1, -1], [1, 1]];

    } else if (slot21 !== false && slot22 !== false) {
        // console.log('только первый и второй слоты заняты');
        window.dressUI.char.sheath_opts = [[-1, -1], [3, 3], [1, 1], [1, 3], [3, 1]];

    } else if (slot21 !== false && slot23 !== false) {
        // console.log('только первый и третий слоты заняты');
        window.dressUI.char.sheath_opts = [[-1, -1], [3, 3], [1, 1], [1, 3], [3, 1]];
    };
    setSheath();
};

function add_items_in_window_items(){


    for (let i = 0; i < char_items2.length; i++) {
        const index = slotIdIsExists(char_items2[i][0]);
        if (!(index !== false)) {
            var slot = char_items2[i][0]
            var displayId = char_items2[i][1];
            var itemId = char_items2[i][2];
            var visual = char_items2[i][3]
            var icon = char_items2[i][4];

            window.dressUI.model_opts.items.push([slot, displayId, itemId, visual, icon]);
        };
    };
};

const get_actual_dressUI = () => {
    return {
        allow_edit: window.dressUI.allow_edit,
        race: window.dressUI.model_opts.race,
        gender: window.dressUI.model_opts.gender,
        items: window.dressUI.model_opts.items.join(),
        face: window.dressUI.face.current.join(),
    };
};

const sendAjaxRequest = function (data) {
    $('.save-char-opts-icon').css('display', 'block');
    $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: url_unique_dressing_room,
        data: JSON.stringify(data),
        headers: { 'X-CSRFToken': csrftoken },

        success: function (data, textStatus, jqXHR) {
            // console.log(data);
            setTimeout(() => $('.save-char-opts-icon').css('display', 'none'), 500);
        },

        error: function (jqXHR, textStatus, errorThrown) {
            $('.save-char-opts-icon').css('display', 'none');
            warnMessageHandler(4000, `${trans_ajax_error_msg}\n${jqXHR.status} ${errorThrown}`);
        }
    });
};

const debounce_sendAjaxRequest = debounce(sendAjaxRequest, debug_mode ? 300 : 300);

const IGNORED_WRAPPED_PROPS = [
    'gear', 'char', 'generalOptions'
];
const IGNORED_PROPS = [
    'active_cat', 'sheathMain', 'sheathOff', 'AnimIsPaused', 'saved_rooms', 'show',
    'game_patch', 'skin_color', 'face',
            'hair_style',
            'hair_color',
            'facial_hair',
            'markings',
            'horn_style',
            'horn_color',
            'hair',
            'features',
            'earrings',
            'tusks',
            'piercings', 'length', '0' // игнорирую изменение свойства, вручную отправляю Ajax Request без задержки из хендлера
];

function wrapDressUI(target) {
    const handler = {

        // get: function(target, property) {
        //   const value = target[property];
        //   return typeof value === "object" ? new Proxy(value, handler) : value;
        // },

        // get: function(target, property) {
        //   if (typeof target[property] === 'object' && target[property] !== null) {
        //     return new Proxy(target[property], handler);
        //   } else {
        //     return target[property];
        //   };
        // },

        get: function (target, property) {
            if (property === 'isProxy') return true;
            const value = target[property];

            if (typeof value === 'undefined' || value === null) return;

            if (IGNORED_WRAPPED_PROPS.indexOf(property) === -1) {
                if (!value.isProxy && typeof value === 'object') target[property] = new Proxy(value, handler);
            };
            return target[property];
        },

        set: function (target, property, newValue) {
            target[property] = newValue;

            if (IGNORED_PROPS.indexOf(property) === -1) {

                if (window.dressUI.room_creator || window.dressUI.allow_edit){
                 add_items_in_window_items()
                 debounce_sendAjaxRequest(get_actual_dressUI());
                 }
            };
            return true;
        }
    };
    return new Proxy(target, handler);
};
window.dressUI = wrapDressUI(window.dressUI);

function set_face_options(){
     findRaceGenderOptions(window.dressUI.model_opts['race'], window.dressUI.model_opts['gender']).then((fullOptions) => {
            var full_options = fullOptions.Options;
            for (let i = 0; i < full_options.length; i++) {
                window.dressUI.model_opts[full_options[i]["Name"].replace(" ", "_").toLowerCase()] = parseInt(character_data['face'][i])
            };

            qwe();

        });


};

async function qwe(){

    let dc_model_opts = JSON.parse(JSON.stringify(window.dressUI.model_opts));

    dc_model_opts.items = [];
    dc_model_opts.items = window.dressUI.model_opts.items.map(item => [item[0], item[1]]);

    console.log(dc_model_opts)
    window.model = await generateModels('#model_3d', dc_model_opts);

};

function set_icon_onload(){

    for (let i = 0; i < character_data.items.length; i++) {
        var elem = document.querySelector(`[slot="${character_data.items[i][0]}"]`);
        var icon = character_data.items[i][4]
        var itemId = character_data.items[i][2]
        elem.getElementsByTagName('ins')[0].style.backgroundImage=`url(https://wow.zamimg.com/images/wow/icons/large/${icon}.jpg)`;
        elem.getElementsByTagName('a')[0].attributes.href.textContent = `https://www.wowhead.com/wotlk/ru/item=${itemId}`;
    };
     for (let i = 0; i < character_data.items.length; i++) {

        if (([14, 13, 2, 11, 12].includes(character_data.items[i][0]))) {
            char_items2.push([
                parseInt(character_data.items[i][0]),
                parseInt(character_data.items[i][1]),
                parseInt(character_data.items[i][2]),
                parseInt(character_data.items[i][3]),
                character_data.items[i][4]
            ]);
            delete character_data.items[i]
        };
     };
     character_data.items = character_data.items.filter(value => JSON.stringify(value) !== '[]');


};

function getCharDataFromContext() {
    if (!character_data) return null;
    character_data = JSON.parse(character_data.replace(/&quot;/g, '"'));
    if (character_data.items === "") {
        character_data.items = [];
    } else {
        const items = character_data.items.split(',');
        character_data.items = [];

        for (let i = 0; i < items.length; i = i + 5) {
            character_data.items.push([
                parseInt(items[i]),
                parseInt(items[i + 1]),
                parseInt(items[i + 2]),
                parseInt(items[i + 3]),
                items[i + 4]
            ]);
        };
        console.log("DATA IN GETCHARDATA", character_data.items)
        set_icon_onload();
    };
    character_data.face = character_data.face === ""
        ? []
        : character_data.face.split(',').map(x => parseInt(x));
    return character_data;
};
set_face_options();

    window.fullScreen = () => {
        model.setFullscreen(true)
    }

    window.clearSlot = (s) => {
        model.renderer.viewer.method("clearSlots", String(s))
        const index = slotIdIsExists(s);
        // иначе удаляем итем из items
        window.dressUI.model_opts.items.splice(index, 1);
        add_items_in_window_items();
        debounce_sendAjaxRequest(get_actual_dressUI());
    };


    window.setItems = (e, t, i, itemId, icon) => {
        findRaceGenderOptions(window.dressUI.model_opts.race, window.dressUI.model_opts.gender).then((fullOptions) => {
            console.log(fullOptions.Options);
        });

        let index = slotIdIsExists(e);
        console.log(index)
        characterdata[e] = {"displayId": t, "itemId": itemId, "icon": icon};
        model.renderer.viewer.method("setItems", [[{
                slot: e,
                display: t,
                visual: i
            }]])
        window.dressUI.model_opts.items.concat(char_items2);
        console.log(window.dressUI.model_opts.items)
        if (!window.dressUI.char.only_item) {
        // если текущий slotId уже записан в items тогда
            if (index !== false) {
                // если текущий displayId равен записаному в items тогда выходим из функции
                if (window.dressUI.model_opts.items[index][1] == t && i === 0) {
                    // warnMessageHandler(1500, 'Надетый и выбранный итемы имеют одинаковые модели.');
                    return false;
                };
                // иначе обновляем displayId, itemId и visualId на новый
                window.dressUI.model_opts.items[index][1] = t;
                window.dressUI.model_opts.items[index][2] = itemId;
                window.dressUI.model_opts.items[index][4] = icon;
                if (i !== 0){
                 window.dressUI.model_opts.items[index][3] = i;
                 };
                // иначе добавляем новый итем в items
            } else {
                window.dressUI.model_opts.items.push([e, t, itemId, i, icon]);
            };

        }
        add_items_in_window_items();
        debounce_sendAjaxRequest(get_actual_dressUI());
    }



// input anim...............................................................................................

        function inputcheck(textid, input) {
            var text = document.getElementById(`${textid}`);
            let coords = {top: text.offsetTop, left: text.offsetLeft};
            console.log(coords);

            var top = text.offsetTop;
            var left = text.offsetLeft;

            console.log(text.offsetLeft, text.offsetTop);
            var fsize = 15;
            if(window.getComputedStyle(text, null).fontSize == fsize + "px"){

            var topy = setInterval(topfunc, 10);
            var leftx = setInterval(leftfunc, 23);
            var fsizex = setInterval(fsizefunc, 23);
            function topfunc() {
                var direction = 1;
                if(top == coords.top - 19) {
                    clearInterval(topy);
                }else {
                    console.log(1);
                    top -= 1 * direction;
                    text.style.top = top + "px";
                }
                }

            function leftfunc() {
                var direction = 1;
                if(left == coords.left - 5) {
                    clearInterval(leftx);
                }else {
                     left -= 1 * direction;
                    text.style.left = left + "px";
                }
                }

            function fsizefunc() {
                var bttn = document.getElementById(`${input}`);
                var direction = 1;
                if(fsize == 10) {
                    bttn.disabled = false;
                    clearInterval(fsizex);
                }else {
                    fsize -= 1 * direction;
                    text.style.fontSize = fsize + "px";
                }
                }
                }
        }

        function inputout(idtext, input) {
            var text = document.getElementById(`${idtext}`);

            //console.log(document.getElementById(`${input}`).value) //--- чтение из инпута
            if(document.getElementById(`${input}`).value == ""){

            let coords = {top: text.offsetTop, left: text.offsetLeft};
            //console.log(coords);

            var top = text.offsetTop;
            var left = text.offsetLeft;

            //console.log(text.offsetLeft, text.offsetTop);
            var fsize = 10;
            if(window.getComputedStyle(text, null).fontSize == fsize + "px"){


            var topy = setInterval(topfunc, 10);
            var leftx = setInterval(leftfunc, 23);
            var fsizex = setInterval(fsizefunc, 25);

                function topfunc() {
                    var direction = -1;
                    if(top == coords.top + 19) {
                        clearInterval(topy);
                    }else {
                        top -= 1 * direction;
                        text.style.top = top + "px";
                    }
                    }

                function leftfunc() {
                    var direction = -1;
                    if(left == coords.left + 5) {
                        clearInterval(leftx);
                    }else {
                         left -= 1 * direction;
                        text.style.left = left + "px";
                    }
                    }

                function fsizefunc() {
                    var bttn = document.getElementById(`${input}`);
                    var direction = -1;
                    if(fsize == 15) {
                        bttn.disabled = false;
                        clearInterval(fsizex);
                    }else {
                        bttn.disabled = true;
                        fsize -= 1 * direction;
                        text.style.fontSize = fsize + "px";
                    }
                    }
                    }
            }


        }

        // вызов функции на нажатие инпут
        document.getElementById("input-item-id").addEventListener('mousedown', inputcheck.bind(null, "placeholder-search", "input-item-id"));

        // вызов функции при ухода из инпута
        document.getElementById("input-item-id").addEventListener('focusout', inputout.bind(null, "placeholder-search", "input-item-id"));

//................................................................................................................................................




//button unequip...............................................................................................
           window.type_slot = [["Голова"],["Шея"],["Плечи"],["Рубашка"],["Грудь"],["Пояс"],["Ноги"],["Ступни"],
           ["Запястья"],["Кисти рук"],["Кольцо"],["Кольцо"],["Аксессуар"],["Аксессуар"],[""],["Спина"],[""],["Оружие"],["Накидка"],[""],["Оружие"],["Оружие"]];

           window.default_image = [["head"],["neck"],["shoulder"],["shirt"],["chest"],["waist"],["legs"],["feet"],
           ["wrists"],["hands"],["finger"],["finger"],["trinket"],["trinket"],[""],["chest"],[""],["ranged"],["tabard"],["shirt"],["mainhand"],["offhand"]];

           function unequip() {

                var unequip = document.getElementById("unequip");
                if(([14, 13, 2, 11, 12].includes(window.slot_id))){
                    console.log("DO", char_items2)
                    window.equip_slot.getElementsByTagName('ins')[0].style.backgroundImage=`url(https://wow.zamimg.com/images/wow/icons/large/inventoryslot_${window.default_image[window.slot_id - 1]}.jpg)`;
                    window.equip_slot.getElementsByTagName('a')[0].attributes.href.textContent = "#";
                    document.getElementById("spanmenu").style.display = "none";
                    console.log(1)
                    const index = slotIdIsExists(window.slot_id);
                    if (index !== false) {
                        window.dressUI.model_opts.items.splice(index, 1);
                    };
                    console.log(2)
                    for (let i = 0; i < char_items2.length; i++) {

                        if (char_items2[i][0] == window.slot_id) {
                            console.log("DEL")
                            delete char_items2[i]
                        };
                    };
                    char_items2 = char_items2.filter(value => JSON.stringify(value) !== '[]');
                    console.log("POSLE", char_items2)
                    add_items_in_window_items();
                    debounce_sendAjaxRequest(get_actual_dressUI());
                    if(document.querySelector(".edit-slot")){
                        changeItemMenuHide()
                    };
                    return true;
                };
                window.equip_slot.getElementsByTagName('ins')[0].style.backgroundImage=`url(https://wow.zamimg.com/images/wow/icons/large/inventoryslot_${window.default_image[window.slot_id - 1]}.jpg)`;
                window.equip_slot.getElementsByTagName('a')[0].attributes.href.textContent = "#";
                window.clearSlot(window.slot_id);
                document.getElementById("spanmenu").style.display = "none";

                if(document.querySelector(".edit-slot")){
                    changeItemMenuHide()
                };

           }

            document.getElementById("unequip").addEventListener('click', unequip);


//...............................................................................................................................


// span menu.....................................................................................................................................

        function spanmenu(btn, slot) {

            var spanmenu =  document.getElementById("spanmenu");
            window.slot_id = slot;
            window.equip_slot = btn;
            var rect = window.equip_slot.getBoundingClientRect();

            spanmenu.style.left = rect.left + window.equip_slot.offsetWidth + "px";
            spanmenu.style.top = rect.top + "px";
            spanmenu.style.display = "block";
            spanmenu.getElementsByTagName('p')[0].textContent = window.type_slot[slot-1]


        }



       function spanmenuhide(btn, type) {
        var spanmenu =  document.getElementById("spanmenu");
        var timer;

        console.log(type);
        if(type == "hide"){
            timer = setTimeout(() => {
            spanmenu.style.display = "none";
            }, 1000)
         }else if(type == "show"){
            clearTimeout(timer)
         };

        }


      if ('{{ is_creator }}' == 'True'){
        var buttons = document.querySelectorAll('.item-slot');
        for (var i = 0; i < buttons.length; ++i) {
        buttons[i].addEventListener('click', spanmenu.bind(null, buttons[i], Number(buttons[i].attributes.slot.value)));
        //buttons[i].addEventListener('mouseleave', spanmenuhide.bind(null, 1, "hide"));
        //console.log(buttons[i]);
        };
      }


        //document.getElementById("spanmenu").addEventListener('mouseleave', spanmenuhide.bind(null, null, "hide"));
        //document.getElementById("spanmenu").addEventListener('mouseenter', spanmenuhide.bind(null, null, "show"));

        document.querySelector(".spanmenu-close").addEventListener('click', function(){
            document.getElementById("spanmenu").style.display = "none";
        });

//...............................................................................................................................


//change item menu...............................................................................................................

     window.itemsData = fetch('/static/db/itemsdata.json')
    .then((response) => response.json())
    .then((data) => {

    window.itemsData = data;
    });


    function itemList() {
    var itemlist = document.querySelector(".btn-access");

            itemlist.insertAdjacentHTML("beforebegin", `
        <div class="item-list" id="itemlist">


        </div>
            `);

    document.querySelector("#itemlist").addEventListener('click', changeitem);

    }

    function changeItemMenu() {
        if(document.getElementById("itemlist")){
            document.getElementById("itemlist").remove();
        };
        itemList()
        document.getElementById("spanmenu").style.display = "none";
        var itemlist = document.getElementById("itemlist");
        let elements_list = [];
        var slot = window.slot_id;


        if(slot == 12 || slot == 14){
            var slot = slot - 1
        };
        for (i in window.itemsData[0][slot]) {


            itemlist.insertAdjacentHTML("beforeend", `
                <div class="new-item q${window.itemsData[0][slot][i].quality}" displayid="${window.itemsData[0][slot][i].displayId}" itemId="${window.itemsData[0][slot][i].itemId}" icon="${window.itemsData[0][slot][i].icon}">

                    <div class="new-item-img">
                        <a href="https://www.wowhead.com/wotlk/ru/item=${window.itemsData[0][slot][i].itemId}">
                            <ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/${window.itemsData[0][slot][i].icon}.jpg&quot;);"></ins>
                        </a>
                    </div>

                <div class="new-item-text">

                    <a href="https://www.wowhead.com/wotlk/ru/item=${window.itemsData[0][slot][i].itemId}">${window.itemsData[0][slot][i].Name}</a>

                </div>

            </div>
            `);

            };
            window.WH.Tooltips.init();
            document.querySelector(".edit-slot").style.display = "block";
            document.querySelector(".char-list").style.marginRight = "26px";
            document.querySelector(".user-char-list").style.display = "none";
            var charlist = document.querySelectorAll('.char-list-item');
            for (var i = 0; i < buttons.length; ++i) {
            charlist[i].style.display = "none";
            };


    };


     function changeItemMenuHide() {
         document.querySelector(".edit-slot").style.display = "none";
  
         document.querySelector(".user-char-list").style.display = "block";
         document.querySelector(".char-list").style.marginRight = "100px";
         var charlist = document.querySelectorAll('.char-list-item');
         for (var i = 0; i < buttons.length; ++i) {
            charlist[i].style.display = "block";
         };
     };

     document.querySelector(".btn-close").addEventListener('click', changeItemMenuHide.bind(null));
     document.getElementById("change").addEventListener('click', changeItemMenu.bind(null));



//...............................................................................................................................


//change item....................................................................................................................

           var characterdata = {}

           function changeitem(event) {
                var displayId = event.target.getAttribute("displayid");
                var itemId = event.target.getAttribute("itemid");
                var icon = event.target.getAttribute("icon");
                var i = 0

                window.equip_slot.getElementsByTagName('ins')[0].style.backgroundImage=`url(https://wow.zamimg.com/images/wow/icons/large/${icon}.jpg)`;
                window.equip_slot.getElementsByTagName('a')[0].attributes.href.textContent = `https://www.wowhead.com/wotlk/ru/item=${itemId}`;

                if(!([14, 13, 2, 11, 12].includes(window.slot_id))){
                    window.setItems(window.slot_id, displayId, 0, itemId, icon);

                } else {
                    let index = slotIdIsExists(window.slot_id);
                    if (!window.dressUI.char.only_item) {
                    // если текущий slotId уже записан в items тогда
                        if (index !== false) {

                            // иначе обновляем displayId, itemId и visualId на новый
                            window.dressUI.model_opts.items[index][1] = displayId;
                            window.dressUI.model_opts.items[index][2] = itemId;
                            window.dressUI.model_opts.items[index][4] = icon;
                            if (i !== 0){
                             window.dressUI.model_opts.items[index][3] = i;
                             };
                            // иначе добавляем новый итем в items
                        } else {
                            window.dressUI.model_opts.items.push([window.slot_id, 0, itemId, i, icon]);
                        };

                    }
                    console.log("save bej", window.dressUI.model_opts)
                    add_items_in_window_items();
                    debounce_sendAjaxRequest(get_actual_dressUI());

                };



                changeItemMenuHide();

           }

//...............................................................................................................................



//Checkbox head and cloak....................................................................................................................


    function checkbox_head(){
        if(document.querySelector(".head-hide").checked == false){
            model.renderer.viewer.method("clearSlots", String(1));

        };

        if(document.querySelector(".head-hide").checked == true){
            for (let i = 0; i < window.dressUI.model_opts.items.length; i++) {

                if(window.dressUI.model_opts.items[i][0] == 1){
                    var displayId = window.dressUI.model_opts.items[i][1]
                }

            };

            model.renderer.viewer.method("setItems", [[{
                slot: 1,
                display: displayId,
                visual: 0
            }]])
        };
    };

    function checkbox_cloak(){
        if(document.querySelector(".cloak-hide").checked == false){
            model.renderer.viewer.method("clearSlots", String(16));
        };

        if(document.querySelector(".cloak-hide").checked == true){
           for (let i = 0; i < window.dressUI.model_opts.items.length; i++) {

                if(window.dressUI.model_opts.items[i][0] == 16){
                    var displayId = window.dressUI.model_opts.items[i][1]
                }

            };
            window.setItems(16, displayId, 0);
        };
    };

    document.querySelector(".head-hide").addEventListener('change', checkbox_head);
    document.querySelector(".cloak-hide").addEventListener('change', checkbox_cloak);

//...............................................................................................................................

// search...............................................................................................

//input_id = input-item-id


    document.querySelector('#input-item-id').oninput = function () {
        var val = this.value.toLowerCase().trim();
        var obj_list = document.querySelectorAll('.item-list div');

        if (val != '') {

            obj_list.forEach(function (elem) {

                if(elem.getAttribute("itemid")){

                    if (elem.getAttribute("itemid").search(val) == -1){

                        elem.classList.add('hide');

                    }
                    else {
                        elem.classList.remove('hide');
                    }
                }
            });
        }
        else {
            obj_list.forEach(function (elem) {
                elem.classList.remove('hide');
            });
        }
    }

//..................................


document.querySelector(".lightbox-overlay").addEventListener('click', save_menu_hide);


function search_char_url(){
    var list_obj = document.querySelectorAll(".char-list-item")
    list_obj.forEach(function (elem) {
                if(elem.getAttribute("char_id") == "{{room_id}}"){

                    elem.classList.add("selected")
                }
            });
}
search_char_url()

</script>
{% endblock %}
