{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block content %}
<div class="addons_shop">

    <div class="addons_category">

        <div class="category_header">

            <p>Категория</p>

        </div>

        <div class="category_list">
            {% for category in categories %}
            <div class="category">

                <a href="{%  url 'addons:category' category.id %}">
                    <p>{{ category.name }}</p>
                </a>

            </div>
            {% endfor %}

            <a href="{% url 'addons:shop' %}">

                <div class="reset-category-btn">

                    <p>Сбросить категорию</p>

                </div>
            </a>

        </div>

    </div>

    <div class="addons_main">

        <div class="addons_services">

        <div class="addons_filter" id="addons_filter">

            <p>Фильтры</p>
            <img src="{% static 'img/other/white_triangle.png' %}" width="17" height="17" id="tringle">



        </div>

            <div class="addon_filter_open" id="addon_filter_open" open="False">
                <div id="filter_popular"><a href="{{ request.path }}?filter=popular">Популярное</a></div>
                <div id="filter_price"><a href="{{ request.path }}?filter=price">Дешевле</a></div>
                <div id="filter_-price"><a href="{{ request.path }}?filter=-price">Дороже</a></div>
            </div>

        <div class="addons-search">

             <div class="seacrh-item" id="search-item">


            <div class="seacrh-input" id="seacrh-input">

                <p id="placeholder-search">Поиск</p>
                <input id="input-item-id">

            </div>

            <div class="seacrh-btn">

                <p>Найти</p>

            </div>

        </div>

        </div>

    </div>

        <div class="addons_cards">


            {% for product in object_list %}
                <div class="addon">

                <img src="{{ product.preview.url }}" alt="" width="186" height="100">
                <p class="addon_name">{{ product.name }}</p>
                <p class="addon_description">{{ product.description }}</p>
                <p class="addon_price">{{ product.price }}р.</p>
                <a href="@">
                    <div class="buy-btn">

                        <p>Купить</p>

                    </div>
                </a>
            </div>
            {% endfor %}




        </div>

    </div>
</div>
{% endblock %}

{% block js %}
<script>

// addon_filter_open...............................................................................................

    function set_value(){
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('filter');
        if(myParam){
        var list_filter = {'price': 'Дешевле', '-price': 'Дороже', "popular": "Популярное"}
        document.getElementById("addons_filter").firstElementChild.innerText = list_filter[myParam];
        };

    };

    window.onload = set_value;
//..................................

    // input anim...............................................................................................

        function inputcheck(textid, input) {
            var text = document.getElementById(`${textid}`);
            let coords = {top: text.offsetTop, left: text.offsetLeft};
            console.log(coords);

            var top = text.offsetTop;
            var left = text.offsetLeft;

            console.log(text.offsetLeft, text.offsetTop);
            var fsize = 15;
            if(window.getComputedStyle(text, null).fontSize == fsize + "px"){

            var topy = setInterval(topfunc, 10);
            var leftx = setInterval(leftfunc, 23);
            var fsizex = setInterval(fsizefunc, 23);
            function topfunc() {
                var direction = 1;
                if(top == coords.top - 19) {
                    clearInterval(topy);
                }else {
                    console.log(1);
                    top -= 1 * direction;
                    text.style.top = top + "px";
                }
                }

            function leftfunc() {
                var direction = 1;
                if(left == coords.left - 5) {
                    clearInterval(leftx);
                }else {
                     left -= 1 * direction;
                    text.style.left = left + "px";
                }
                }

            function fsizefunc() {
                var bttn = document.getElementById(`${input}`);
                var direction = 1;
                if(fsize == 10) {
                    bttn.disabled = false;
                    clearInterval(fsizex);
                }else {
                    fsize -= 1 * direction;
                    text.style.fontSize = fsize + "px";
                }
                }
                }
        }

        function inputout(idtext, input) {
            var text = document.getElementById(`${idtext}`);

            //console.log(document.getElementById(`${input}`).value) //--- чтение из инпута
            if(document.getElementById(`${input}`).value == ""){

            let coords = {top: text.offsetTop, left: text.offsetLeft};
            //console.log(coords);

            var top = text.offsetTop;
            var left = text.offsetLeft;

            //console.log(text.offsetLeft, text.offsetTop);
            var fsize = 10;
            if(window.getComputedStyle(text, null).fontSize == fsize + "px"){


            var topy = setInterval(topfunc, 10);
            var leftx = setInterval(leftfunc, 23);
            var fsizex = setInterval(fsizefunc, 25);

                function topfunc() {
                    var direction = -1;
                    if(top == coords.top + 19) {
                        clearInterval(topy);
                    }else {
                        top -= 1 * direction;
                        text.style.top = top + "px";
                    }
                    }

                function leftfunc() {
                    var direction = -1;
                    if(left == coords.left + 5) {
                        clearInterval(leftx);
                    }else {
                         left -= 1 * direction;
                        text.style.left = left + "px";
                    }
                    }

                function fsizefunc() {
                    var bttn = document.getElementById(`${input}`);
                    var direction = -1;
                    if(fsize == 15) {
                        bttn.disabled = false;
                        clearInterval(fsizex);
                    }else {
                        bttn.disabled = true;
                        fsize -= 1 * direction;
                        text.style.fontSize = fsize + "px";
                    }
                    }
                    }
            }


        }

        // вызов функции на нажатие инпут
        document.getElementById("input-item-id").addEventListener('mousedown', inputcheck.bind(null, "placeholder-search", "input-item-id"));

        // вызов функции при ухода из инпута
        document.getElementById("input-item-id").addEventListener('focusout', inputout.bind(null, "placeholder-search", "input-item-id"));

//..........................

// addon_filter_open...............................................................................................

    function rotate_tringle(d){
        var d= d;
        if(d == 0){
            var rotate_interval = setInterval(function w(){
            if(d == 180){
                clearInterval(rotate_interval);
            };
            document.getElementById("tringle").style['-webkit-transform']= `rotate(${d + "deg"})`;
            d +=3;
            },4);
        };

        if(d == 180){
            var rotate_interval = setInterval(function w(){
            if(d == 360){
                clearInterval(rotate_interval);
            }
            document.getElementById("tringle").style['-webkit-transform']= `rotate(${d + "deg"})`;
            d +=3;
            },4);
        };
    };

    function addon_filter_open() {
        //var obj = document.getElementById("addon_filter_open");
        var obj = document.querySelector(".addon_filter_open");
        var attr = obj.getAttribute("open")
        if(attr == "False"){
            rotate_tringle(0);
            obj.setAttribute("open", "True")
            obj.style.display = "block"

        }

        if(attr == "True"){
            rotate_tringle(180);
            obj.setAttribute("open", "False")
            obj.style.display = "none"

        }

        console.log(obj.getAttribute("open"))
    }



     document.getElementById("addons_filter").addEventListener('mousedown', addon_filter_open);

//..................................



</script>
{% endblock %}