{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block content %}
<div class="addons_shop">

    <div class="addons_category">

        <div class="category_header">

            <p>Категория</p>

        </div>

        <div class="category_list">
            {% for category in categories %}
            <div class="category">

                <a href="{%  url 'addons:category' category.id %}">
                    <p>{{ category.name }}</p>
                </a>

            </div>
            {% endfor %}

            <a href="{% url 'addons:shop' %}">

                <div class="reset-category-btn">

                    <p>Сбросить категорию</p>

                </div>
            </a>

        </div>

    </div>

    <div class="addons_main" style="width: 100%;">

        <div class="addons_services">

        <div class="addons_filter" id="addons_filter">

            <p>Фильтры</p>
            <img src="{% static 'img/other/white_triangle.png' %}" width="17" height="17" id="tringle">



        </div>

            <div class="addon_filter_open" id="addon_filter_open" open="False">
                <div id="filter_popular"><a href="{{ request.path }}?filter=popular">Популярное</a></div>
                <div id="filter_price"><a href="{{ request.path }}?filter=price">Дешевле</a></div>
                <div id="filter_-price"><a href="{{ request.path }}?filter=-price">Дороже</a></div>
            </div>

        <div class="addons-search">

             <div class="seacrh-item" id="search-item">


                <div class="seacrh-input" id="seacrh-input" style="margin-right: 0px;">

                    <p id="placeholder-search">Поиск</p>
                    <input id="input-item-id">

                </div>


            </div>

        </div>

    </div>

        <div class="addons_cards">


            {% for product in object_list %}
                <div class="addon">

                <img src="{{ product.preview.url }}" alt="" width="186" height="100">
                <p class="addon_name">{{ product.name }}</p>
                <p class="addon_description">{{ product.description }}</p>
                <p class="addon_price">{{ product.price }}р.</p>
                    {% if user.is_authenticated %}
                        {% if product in paid_addons %}
                            <div class="addon_paid">
                                <a href="{% url 'user:profile' %}">
                                    <div class="user_profile">
                                        <img src="{% static 'img/other/user_icon.png' %}">
                                    </div>
                                </a>
                                <a href="{% url 'addons:shop' %}{{ product.slug }}">

                                    <div class="more_details_addon">

                                        <p>Подробнее</p>

                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <a href="{% url 'addons:shop' %}{{ product.slug }}">

                    <div class="buy-btn">

                        <p>Купить</p>

                    </div>
                </a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'addons:shop' %}{{ product.slug }}">

                    <div class="buy-btn">

                        <p>Купить</p>

                    </div>
                </a>
                    {% endif %}
            </div>
            {% endfor %}




        </div>





        <div class="container-pag">
  <ul class="pagination" onclick="show_item(event)">



  </ul>
</div>

    </div>
</div>
{% endblock %}

{% block js %}
<script>

// addon_filter_open...............................................................................................

    function set_value(){
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('filter');
        if(myParam){
        var list_filter = {'price': 'Дешевле', '-price': 'Дороже', "popular": "Популярное"}
        document.getElementById("addons_filter").firstElementChild.innerText = list_filter[myParam];
        };

    };

    window.onload = set_value;
//..................................

    // input anim...............................................................................................

        function inputcheck(textid, input) {
            var text = document.getElementById(`${textid}`);
            let coords = {top: text.offsetTop, left: text.offsetLeft};
            console.log(coords);

            var top = text.offsetTop;
            var left = text.offsetLeft;

            console.log(text.offsetLeft, text.offsetTop);
            var fsize = 15;
            if(window.getComputedStyle(text, null).fontSize == fsize + "px"){

            var topy = setInterval(topfunc, 10);
            var leftx = setInterval(leftfunc, 23);
            var fsizex = setInterval(fsizefunc, 23);
            function topfunc() {
                var direction = 1;
                if(top == coords.top - 19) {
                    clearInterval(topy);
                }else {
                    console.log(1);
                    top -= 1 * direction;
                    text.style.top = top + "px";
                }
                }

            function leftfunc() {
                var direction = 1;
                if(left == coords.left - 5) {
                    clearInterval(leftx);
                }else {
                     left -= 1 * direction;
                    text.style.left = left + "px";
                }
                }

            function fsizefunc() {
                var bttn = document.getElementById(`${input}`);
                var direction = 1;
                if(fsize == 10) {
                    bttn.disabled = false;
                    clearInterval(fsizex);
                }else {
                    fsize -= 1 * direction;
                    text.style.fontSize = fsize + "px";
                }
                }
                }
        }

        function inputout(idtext, input) {
            var text = document.getElementById(`${idtext}`);

            //console.log(document.getElementById(`${input}`).value) //--- чтение из инпута
            if(document.getElementById(`${input}`).value == ""){

            let coords = {top: text.offsetTop, left: text.offsetLeft};
            //console.log(coords);

            var top = text.offsetTop;
            var left = text.offsetLeft;

            //console.log(text.offsetLeft, text.offsetTop);
            var fsize = 10;
            if(window.getComputedStyle(text, null).fontSize == fsize + "px"){


            var topy = setInterval(topfunc, 10);
            var leftx = setInterval(leftfunc, 23);
            var fsizex = setInterval(fsizefunc, 25);

                function topfunc() {
                    var direction = -1;
                    if(top == coords.top + 19) {
                        clearInterval(topy);
                    }else {
                        top -= 1 * direction;
                        text.style.top = top + "px";
                    }
                    }

                function leftfunc() {
                    var direction = -1;
                    if(left == coords.left + 5) {
                        clearInterval(leftx);
                    }else {
                         left -= 1 * direction;
                        text.style.left = left + "px";
                    }
                    }

                function fsizefunc() {
                    var bttn = document.getElementById(`${input}`);
                    var direction = -1;
                    if(fsize == 15) {
                        bttn.disabled = false;
                        clearInterval(fsizex);
                    }else {
                        bttn.disabled = true;
                        fsize -= 1 * direction;
                        text.style.fontSize = fsize + "px";
                    }
                    }
                    }
            }


        }

        // вызов функции на нажатие инпут
        document.getElementById("input-item-id").addEventListener('mousedown', inputcheck.bind(null, "placeholder-search", "input-item-id"));

        // вызов функции при ухода из инпута
        document.getElementById("input-item-id").addEventListener('focusout', inputout.bind(null, "placeholder-search", "input-item-id"));

//..........................

// addon_filter_open...............................................................................................

    function rotate_tringle(d){
        var d= d;
        if(d == 0){
            var rotate_interval = setInterval(function w(){
            if(d == 180){
                clearInterval(rotate_interval);
            };
            document.getElementById("tringle").style['-webkit-transform']= `rotate(${d + "deg"})`;
            d +=3;
            },4);
        };

        if(d == 180){
            var rotate_interval = setInterval(function w(){
            if(d == 360){
                clearInterval(rotate_interval);
            }
            document.getElementById("tringle").style['-webkit-transform']= `rotate(${d + "deg"})`;
            d +=3;
            },4);
        };
    };

    function addon_filter_open() {
        //var obj = document.getElementById("addon_filter_open");
        var obj = document.querySelector(".addon_filter_open");
        var attr = obj.getAttribute("open")
        if(attr == "False"){
            rotate_tringle(0);
            obj.setAttribute("open", "True")
            obj.style.display = "block"

        }

        if(attr == "True"){
            rotate_tringle(180);
            obj.setAttribute("open", "False")
            obj.style.display = "none"

        }

        console.log(obj.getAttribute("open"))
    }



     document.getElementById("addons_filter").addEventListener('mousedown', addon_filter_open);

//..................................

// search...............................................................................................

//input_id = input-item-id


    document.querySelector('#input-item-id').oninput = function () {

        var val = this.value.toLowerCase().trim();
        var obj_list = document.querySelectorAll('.addons_cards div');
        console.log(obj_list)
        if (val != '') {

            obj_list.forEach(function (elem) {

                if(elem.getAttribute("class") == 'addon' || elem.getAttribute("class") == 'addon hide'){

                    if (elem.innerText.toLowerCase().search(val) == -1){

                        elem.classList.add('hide');
                        elem.style.display = 'none'

                    }
                    else {
                        elem.classList.remove('hide');
                        elem.style.display = 'block'
                    }
                }
            });
        }
        else {
            paginator()
            obj_list.forEach(function (elem) {
                elem.classList.remove('hide');
            });
        }
    }

//..................................

// paginator..........................


var page_size = 8; //сколько отображаем сначала
var count_page = Math.ceil(count / page_size); //кол-во страниц
var count = document.querySelectorAll('.addon').length; //всего записей
var list_obj = document.querySelectorAll('.addon')

function paginator(){
    list_obj.forEach(function (elem) {
                elem.style.display = 'none';
            });
    var count_page = Math.ceil(count / page_size); //кол-во страниц

    var paginator = document.querySelector(".pagination");
    var page = "";
    for (var i = 0; i < count_page; i++) {
      page += "<li><p>" + (i+1) + "</p></li>";
    }
    paginator.innerHTML = page;

     for(var i = 0; i < 1 * page_size; i++){
            console.log(i)
            if (list_obj[i]){
                list_obj[i].style.display = 'block'
            }
        }

    var buttuns_p = document.querySelectorAll(".pagination p");
    console.log(buttuns_p)
    buttuns_p[0].classList.add("active");
}
//..
function show_item(event){
    var buttuns_p = document.querySelectorAll(".pagination p");
    var e = event || window.event;
    var target = e.target;
    buttuns_p.forEach(function (elem) {
                console.log(1)
                elem.classList.remove("active");
            });
    target.classList.add("active");
    var page = target.innerText;


    list_obj.forEach(function (elem) {
                console.log(1)
                elem.style.display = 'none';
            });
    for(var i = (page-1) * page_size; i < page * page_size; i++){
        console.log(i)
        if (list_obj[i]){
            list_obj[i].style.display = 'block'
        }
    }
}

window.onload = paginator;
//...................

</script>
{% endblock %}