.block_main {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 65vh;
}

.block_main p {
    color: #fff;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 40px;
}

.class_list{
    display: flex;
    margin-bottom: 35px;

    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}

.class_list div {
    margin-right: 12px;
    cursor: pointer;
    opacity: .6;
}

.class_obj.selected {
    opacity: 1;
}

.class_obj img {
    pointer-events: none;
}

.class_list div:last-child {
    margin-right: 0px;
}

.char-search{
    margin: 0 auto;
    width: 26vh;
}

.seacrh-item{
    display:flex;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-bottom: 40px;
}

.seacrh-input{
    display:flex;
    position: relative;
    width: 100%;
    height: 30px;
    margin-right: 14px;
}

.seacrh-input input {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline:none;
    padding-left: 5px;
    color: #fff;
}

#placeholder-search{
    color: #fff;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 3px;
    font-size: 15px;
}

.char_list{
    margin-top: 35px;
    height: 55vh;
    overflow-y: auto;

}

.char_list p{
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 12px auto;
}

.block_create_char{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.block_char_obj{
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 30px;
    padding: 6px 15px 7px 15px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.block_char_obj.hide{
    display: none;
}

.block_char_obj:last-child{
    margin-bottom: 1px;
}

.block_char_obj p{
    margin: 6px auto;
}

.block_char_obj a{
    display: flex;
    width: 100%;
}

.block_char_obj img{
    margin-right: 10px;
}

.del_image{
    padding-top: 3px;
    cursor: pointer;

}

.del_image img{
    margin-right: 0px;

}

.lightbox-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    z-index: 50
}

.char_delete{
    display: none;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 75px;
    padding-right: 75px;
    z-index: 100;
    text-align: center;


    background: rgba(88, 84, 84, 0.18);
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.char_delete .del_header{
    color: #FFC700;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
    margin-top: 5px;
    white-space: nowrap;
}

.char_delete .del_description{
    color: #fff;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
    white-space: nowrap;
}

.del_footer{
    display: flex;
    margin-bottom: 10px;
}

.del_footer img {
    position: absolute;
    left: 10px;
    top: 70px;
}

.del_footer p {
    color: #FFC700;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;

    margin: 10px auto;
}

.confirn-input{
    display:flex;
    width: 50%;
    height: 30px;
    margin: 0 auto;
}

.confirn-input input {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline:none;
    padding-left: 5px;
    color: #fff;
}

.del_search {
    margin-bottom: 30px;
}

.del_buttons{
    display: flex;

    width: min-content;
    margin: 0 auto;
    margin-bottom: 20px;
}

.button_del {
    background: #0057FF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
    width: 200px;
    padding: 5px 7px 6px 7px;
    height: 30px;
    cursor: pointer;
    margin-right: 30px;

}

.button_del.disabled{
    background: black;
    pointer-events: none;
    opacity: .3;
}

.button_del p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button_cancel {
    background: #0057FF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
    width: 200px;
    padding: 5px 7px 6px 7px;
    height: 30px;
    cursor: pointer;
}

.button_cancel p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}