.model{
    position: absolute;
    width: 500px;
    top:  50%;
    left: 48.5%;
    transform: translate(-50%,-50%);

}

#model_3d {
    width: 100%;
    height: 500px;
    margin-bottom: 75px;
    margin-top: 75px;
}

.main_block{
    display: flex;
}

.block_main_settings{
    margin-top: 90px;
    width: min-content;
    height: min-content;
    padding-top: 16px;
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 30px;
    text-align: center;

    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.block_main_settings p{
    color: #FFC700;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 10px;
}

.block_races{
    margin-bottom: 13px;
}

.races_alliance{
    display: flex;
    margin-bottom: 5px;
}

.races_alliance img:first-child{
    position: absolute;
    left: 205px;
}

.races_alliance div:last-child{
    margin-right: 0px;
}

.races_horde{
    display: flex;
    margin-bottom: 5px;
}

.races_horde img:first-child{
    position: absolute;
    left: 205px;
}

.races_horde div:last-child{
    margin-right: 0px;
}

.race_image{
    position: relative;
    margin-right: 14px;
    cursor: pointer;
}

.race_image ins{
    display: block;
    width: 56px;
    height: 56px;
}

.race_image.selected del{
    display: block;
    background-size: auto 100%;
    position: absolute;
    top: -3px;
    left: -3px;
    width: 62px;
    height: 62px;
    background-image: url("https://wow.zamimg.com/images/Icon/medium/border/gold-selected.png");
}

.block_sex{
    margin-bottom: 18px;
}

.sex_list{
    display: flex;
}

.sex{
    position: relative;
    margin-right: 14px;
    left: 30%;
    cursor: pointer;
}

.sex ins{
    display: block;
    width: 56px;
    height: 56px;
}


.sex.selected del{
    display: block;
    background-size: auto 100%;
    position: absolute;
    top: -3px;
    left: -3px;
    width: 62px;
    height: 62px;
    background-image: url("https://wow.zamimg.com/images/Icon/medium/border/gold-selected.png");
}

.block_classes{
    margin-bottom: 40px;
}

.class_list1{
    display: flex;
    margin-bottom: 5px;
}

.class_image{
    position: relative;
    margin-right: 14px;
    cursor: pointer;
}

.class_list1 div:last-child{
    margin-right: 0px;
}

.class_image ins{
    display: block;
    width: 56px;
    height: 56px;
}

.class_image.selected del{
    display: block;
    background-size: auto 100%;
    position: absolute;
    top: -3px;
    left: -3px;
    width: 62px;
    height: 62px;
    background-image: url("https://wow.zamimg.com/images/Icon/medium/border/gold-selected.png");
}

.class_list2{
    display: flex;
    margin-bottom: 5px;
}

.class_list2 div:last-child{
    margin-right: 0px;
}

.block_settings{
    width: min-content;
    margin: 0 auto;
}

.block_settings p{
    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.settings0{
    display: flex;
    margin-bottom: 20px;

}

.settings1{
    display: flex;
    margin-bottom: 20px;

}

.settings2{
    display: flex;
    margin-bottom: 20px;

}

.settings3{
    display: flex;
    margin-bottom: 20px;

}

.settings4{
    display: flex;

}

.settings_name{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    margin-right: 13px;

    width: 230px;
}

.settings_name p{
    margin: 5px auto;
}

.button_prev{
    cursor: pointer;
}

.button_next{
    cursor: pointer;
}

.block_name_char{
    margin-top: 0px;
    text-align: center;
    justify-content: center;
}

.block_name_char p{
    color: #FFC700;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
}

.name-input{
    display:flex;
    position: relative;
    width: min-content;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.name-input input{

    width: 230px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    outline:none;
    padding-left: 5px;
    color: #fff;
}

.block_proffesions{
    padding: 25px 38px 50px 38px;
    height: min-content;
    margin-top: 90px;


    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 631px;
}

.block_proffesions p:first-child{
    color: #fff;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;

    margin-bottom: 42px;
}

.proffesion1 {
    display: flex;

    margin-bottom: 25px;
    padding: 12px 17px 12px 17px;
    width: 360px;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}



.proffesion2 {
    display: flex;
    text-align: center;
    margin-bottom: 25px;
    padding: 12px 17px 12px 17px;
    width: 360px;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.proffesion1 p,.proffesion2 p{
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.proffesion1.selected, .proffesion2.selected {
    padding: 7px 13px 7px 13px;
    width: 360px;

}

.proffesion1.selected p, .proffesion2.selected p{
    white-space: nowrap;
    text-align: center;
    margin: 6px auto;
}

#tringle1{
    margin-left: 77%;
}

#tringle2{
    margin-left: 77%;
}

.proffesions_list{
    display: none;
    position: absolute;
    padding: 35px 24px 20px 24px;
    height: min-content;
    left: 1312px;
    top: 490px;
    overflow-y: scroll;
    height: 300px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;


}

.proffesion{
    display: flex;
    padding: 7px 13px 7px 13px;
    text-align: center;
    margin-bottom: 15px;
    width: 310px;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}



.proffesion p{
    margin: 7px auto;
    pointer-events: none;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.proffesion img{
    pointer-events: none;
}


.button_contiune {
    background: #0057FF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
    width: 220px;
    padding: 5px 7px 6px 7px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    left: 1490px;
    top: 845px;
}

.button_contiune p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
