.forgot_pass_block{
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    z-index: 100;

    width: 500px;

    background: rgba(88, 84, 84, 0.18);
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forgot_pass_header{
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 5px;
    white-space: nowrap;

    margin-bottom: 25px;
}

.forgot_pass_main{
    margin-bottom:25px;

    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.forgot_pass_main p{
    margin-bottom: 20px;
}

.button_forgot_pass{
    background: #0057FF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
    width: 200px;
    padding: 3px 7px 6px 7px;
    height: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 25px;
}

.button_forgot_pass button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.forgot_pass_email{
    display:flex;
    width: 65%;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.forgot_pass_email input{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline:none;
    padding-left: 5px;
    color: #fff;
}

.set_new_password_block{
        display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    z-index: 100;

    width: 500px;

    background: rgba(88, 84, 84, 0.18);
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.invalid-link{
     color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 15px;
}

.set_new_password_header{
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 5px;
    white-space: nowrap;

    margin-bottom: 25px;
}

.set_new_password_main{
    margin-bottom: 25px;
    display: flex;
}

.set_new_password_inputs_desc {
    padding-top: 2px;
    margin-right: 20px;

    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.set_new_password_inputs_desc p{
    white-space: nowrap
}

.set_new_password_inputs_desc p:first-child{
    margin-bottom: 24px;
}

.set_new_password_inputs{
    margin: 0 auto;
    width: 65%;
}

.set_new_password_main input{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline:none;
    padding-left: 5px;
    color: #fff;

}

.set_new_password_main input:first-child{
    margin-bottom: 15px;
}

.button_set_new_password{
    background: #0057FF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
    width: 200px;
    padding: 3px 7px 6px 7px;
    height: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 25px;
}

.button_set_new_password button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
