body {
    overflow-y: scroll;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.17) 0%, rgba(60, 60, 60, 0) 85.42%), #18181B;
    background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Kanit', sans-serif;
	margin: 0;
	height: 100vh;
	margin: 0px 209px;
}

body.noscroll {
    overflow-y: none;

}


.header {
	height: auto;

}

.header-line {
	padding-top: 27px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.nav-item {
	color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: 275;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;


	margin-right: 21px;
}

.block_user_name{
    padding: 5px 19px 5px 19px;

    border-radius: 10px;
    border: 0px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
}

.block_user_name p{
    pointer-events: none;
}

.block_user_login{
    padding: 5px 19px 5px 19px;

    border-radius: 10px;
    border: 0px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.block_user_list{
    display: none;
    position: absolute;
    top: 80px;
    left: 1500px;

    padding-top: 10px;
    padding-bottom: 10px;

    width: 201px;

    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;

    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.block_user_list p{
    margin-bottom: 5px;
}

.report_of_bug {
    cursor: pointer;
}

.Btn {
    margin: 10px auto;
    margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

.report_of_bug_block{
    width: 400px;
    height: min-content;
    backdrop-filter: blur(10px);
    display: none;

    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 16px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    z-index: 51;
}

.report_header{
    display: flex;
    text-align: center;

    width: 100%;
    height: 56px;
    margin-bottom: 34px;

    border-bottom: 1px solid rgba(255, 255, 255, .4);

    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.report_header p{
    margin: 15px auto;
}

.close_report_of_bug {
    position: absolute;
    left: 368px;
    top: 15px;

    cursor: pointer;
}

.report_content{
    width: 100%;
}

.report_text{
    margin: 0 auto;
    width: min-content;
    margin-bottom: 15px;
}

.report_content textarea{
    width: 325px;
    height: 109px;

    resize: none;
    color: #fff;
    padding: 5px;
    outline: none;

    border-radius: 8px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.report_content textarea::placeholder{color: #fff; opacity: .8;}

.add_files{
    display: flex;
    margin-left: 37px;
    cursor: pointer;
    margin-bottom: 15px;
}

.add_files svg{
    margin-right: 8px;
}

.add_files p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 2px;
}

.button_submit {
    background: #0057FF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
    width: 325px;
    padding: 5px 7px 6px 7px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.button_submit p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 4px;
}

.background_filter{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    z-index: 50
}

.file_block{
    display: flex;
    margin-left: 38px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.block_start{
    display: flex;
}

.block_end{
    margin-right: 22px;
    cursor: pointer;
    margin-top: -5px;
}

.file_block path {
    fill: rgba(255,255,255,.68);
}

.file_block svg{
    margin-right: 14px;
}

.file_block p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: -2px;
}

.Attach-FilePreviewDelete{
    pointer-events: none;
}

.Attach-FilePreviewDelete path{
    pointer-events: none;
}

.header-logo {
	color: #fff;
	font-weight: 700;
	font-size: 36px;
}

.language {
	vertical-align: sub

}

p {
    margin: 0px;
}

.char-header {
    margin-top: 74px;

}

.item-char-header{
    display:flex;
    align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.rass-char {
    weight: 54px;
    heightL 46px;
    padding-right: 46px

}

.char-name {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    padding-right: 46px;
    weight: auto;
}

.char-info {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.navbar[_ngcontent-gox-c59] {
    padding-right: 0px;
}

.main-char {

    display:flex;
    width: auto;
    weight: auto;
    justify-content: center;

    height: 640px;
}

.char-list {
    display: table-cell;
    margin-right: 100px;
    width: 432px;

}

.char-list-item {
    box-sizing: border-box;

    /* position: absolute; */
    width: 316px;
    height: 106px;

    margin: 0 0 36px;
    background: rgba(255, 255, 255, 0.18);
    border: 2px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.char-list-item.selected {
    border: 2px solid #A98400;
}

.char-list-info-name {
    font-family: Inter;
    font-size: 27px;
    font-weight: 550;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    padding: 20px 20px 14px;
}

.char-list-info-description {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 20px;
}

.edit-slot {
    display: none;
    position: relative;
    padding: 40px 17px 26px 17px;
    background: rgba(88, 84, 84, 0.18);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 406px;
    margin-right: 15px;

}

.btn-close {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 7px;

}

.btn-close img{
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
    opacity: 0.5;
}

.btn-close:hover img{
    opacity: 1;
}

.seacrh-item{
    display:flex;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-bottom: 40px;
}

.search-reset{
    background: #0057FF;
    border-radius: 10px;
    padding: 5px;
    margin-right: 13px;
    display: flex;
    align-items: center
    justify-content: center;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    cursor: pointer;
}

.search-reset img{
    width: 20px;
    height: 20px;
    align-items: center
    justify-content: center;
}

.seacrh-input{
    display:flex;
    position: relative;
    width: 100%;
    height: 30px;
    margin-right: 14px;
}

.seacrh-input input {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline:none;
    padding-left: 5px;
    color: #fff;
}

.seacrh-btn {
    background: #0057FF;
    border-radius: 10px;

    display:flex;
    align-items: center;
    padding: 6px 11px 6px 11px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    cursor: pointer;
}

.seacrh-btn p{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff
}

.item-list{
    height: 361px;
    overflow-y: scroll;

}

::-webkit-scrollbar {
    width: 11px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background: rgba(88, 84, 84, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.new-item {
    display:flex;
    padding: 0px 18px 0px 18px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    align-items: center;

    margin-right: 8px;
    margin-bottom: 12px;
    height: 50px;

    cursor: pointer;
}

.item-list div.hide{
    display: none;
}

.new-item-img {
    margin-right: 30px;
    height: 36px;
    width: 36px;
    pointer-events: none;
}

.new-item-img img{
    width: 36px;
    height: 36px;
}

.new-item-text:active {
    pointer-events: none;
}

.new-item-text a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}



.btn-access{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-acc {
    background: #0057FF;
    border-radius: 10px;
    display: flex;
    padding: 6px 41px;

    margin-top: 54px;
    cursor: pointer;
}

.btn-acc p {
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}



.new-item ins {
    background-size: auto 100%;
    display: block;
    pointer-events: auto;


    width: 36px;
    height: 36px;
}

.new-item-img:active a {
	pointer-events: none;
}

.new-item-img:active ins {
	pointer-events: none;
}

.new-item-img a {
    width: 35px;
    height: 36px;
}

.item-right {
    margin-right: 100px;
}

.item-right .item-slot {
    position: relative;
    margin-bottom: 16px;
    width: 62px;
    height: 62px;
}

.item-right .item-slot ins {
    background-size: auto 100%;
    display: block;
    pointer-events: auto;
    position: absolute;
    width: 56px;
    height: 56px;
}

.item-right .item-slot a {
    background-size: auto 100%;
    position: absolute;
    top: 1px;
    left: 0px;
    width: 56px;
    height: 56px;
    background-image: url("https://wow.zamimg.com/images/Icon/large/hilite/default.png");
    opacity: 0;
}

.item-right .item-slot a:hover {
    opacity: 1;
}

.item-right .item-slot:active a {
	pointer-events: none;
}

.item-right .item-slot del {
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: block;
    left: -3px;
    position: absolute;
    top: -2px;
    z-index: 10;
    width: 62px;
    height: 62px;
    pointer-events: none;
    background-image: url("https://wow.zamimg.com/images/Icon/large/border/default.png");
}

.item-left .item-slot {
    position: relative;
    margin-bottom: 16px;
    width: 62px;
    height: 62px;
}

.item-left .item-slot ins {
    background-size: auto 100%;
    display: block;
    pointer-events: auto;
    position: absolute;
    width: 56px;
    height: 56px;
}

.item-left .item-slot del {
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: block;
    left: -6px;
    position: absolute;
    top: -6px;
    z-index: 10;
    width: 62px;
    height: 62px;
    pointer-events: none;
    background-image: url("https://wow.zamimg.com/images/Icon/large/border/default.png");
}

.item-left .item-slot a {
    background-size: auto 100%;
    position: absolute;
    top: 1px;
    left: 0px;
    width: 56px;
    height: 56px;
    background-image: url("https://wow.zamimg.com/images/Icon/large/hilite/default.png");
    opacity: 0;
}

.item-left .item-slot:hover a {
    opacity: 1;

}

.item-left .item-slot:active a {
	pointer-events: none;
}

.item-left .item-slot-hilite {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 56px;
    height: 56px;
    opacity: 0;
}



.item-left .item-slot-border {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 62px;
    height: 62px;
}



.item-left .item-slot del {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 62px;
    height: 62px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

a:-webkit-any-link {
    color: #fff;
    text-decoration: none;
}

.model{
    width: 500px;

	margin-left: 30.5px;
	margin-right: 30.5px;
	margin-top: 35px;

}

#model_3d {
    width: 100%;
    height: 500px;
}

.character {
    position:relative;
    display: flex;
}

.item-bottom {
    display: flex;
    height: 62px;
    position: absolute;
    bottom: 0;
    margin-left: 238px;
    padding-top: 47px;


}

.item-bottom .item-slot {
    position: relative;
    margin-right: 14px;
    width: 62px;
    height: 62px;

}

.item-bottom .item-slot ins {
    background-size: auto 100%;
    display: block;
    pointer-events: auto;
    position: absolute;
    width: 56px;
    height: 56px;
}

.item-bottom .item-slot del {
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: block;
    left: -3px;
    position: absolute;
    top: -3px;
    z-index: 10;
    width: 62px;
    height: 62px;
    pointer-events: none;
    background-image: url("https://wow.zamimg.com/images/Icon/large/border/default.png");
}

.item-bottom .item-slot a {
    background-size: auto 100%;
    position: absolute;
    top: 1px;
    left: 0px;
    width: 56px;
    height: 56px;
    background-image: url("https://wow.zamimg.com/images/Icon/large/hilite/default.png");
    opacity: 0;
}

.item-bottom .item-slot:hover a {
    opacity: 1;
}
.item-bottom .item-slot:active a {
	pointer-events: none;
}


.character-description {
    width: 315px;
}

.border-professions {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    border-opacity: 0;
    margin-bottom: 30px;
}

.border-professions p {
    text-align: center;
    margin-bottom: 8px;

    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
}

.prof:last-child {
 margin-bottom: 75px;
}

.prof {
    display:flex;
    margin-left: 18px;
    margin-bottom: 18px;
}

.prof img {
    margin-right: 30px;
}

#progresbar {
    margin-top: 17px;
    background: #D9D9D9;
    border-radius: 28px;
    height: 17px;
    width: 151px;
}

#progresbar:after {
    content: '';
    display: block;
    background: #2D28FF;
    width: 100%;
    height: 100%;
    border-radius: 28px;
}

.prof-name p{
    /*position: absolute;
    margin-left: 4px;
    top: 108px;*/
    text-align: center;

    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.progresbar p {
    position: absolute;
    margin-left: 65px;
    margin-top: 1px;

    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.border-talents {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    border-opacity: 0;
    margin-bottom: 30px;
}

.border-talents p {
    text-align: center;
    margin-bottom: 8px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
}

.talent {
    display:flex;
    margin-left: 23px;
    margin-bottom: 18px;
}

.talent img {
    margin-right: 46px;
}

.talents-name {
    padding-top: 18px;
}

.talents-name p {
    white-space: nowrap;
    text-align: center;

    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

}

.spanmenu {
    background: rgba(88, 84, 84, 0.18);
    border: 1px solid rgba(255, 255, 255, .4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 120px;
    position:absolute;
    top: 100px;
    left: 500px;
    display: none;
    z-index: 100;
    text-align: center;
    padding: 0 5px;
}

.change{
    background: rgba(88, 84, 84, 0.18);
    border: 1px solid rgba(255, 255, 255, .4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    cursor: pointer;
    margin: 0 10px;
    margin-bottom: 5px;
}

.change:hover {
   border: 1px solid #fff;
}

.change p {
    font-size: 12px;
    color: #fff;
}

.unequip {
    background: rgba(88, 84, 84, 0.18);
    border: 1px solid rgba(255, 255, 255, .4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    cursor: pointer;
    margin: 0 10px;
    margin-bottom: 7px;
}

.unequip:hover {
   border: 1px solid #fff;
}

.unequip p {
    font-size: 12px;
    color: #fff;
}
.type-slot {
    color: #fff;
}

#placeholder-search{
    color: #fff;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 3px;
    font-size: 15px;
}

.input-checkbox{
     display: flex;
}

.checkbox{
    display: flex;
    padding-top: 30px;
    opacity: 0;
    transition: .3s;
}

.model:hover .checkbox{
    opacity: 1;
}

.head-hide{
    margin-left: 50px;
    background-color: #000;

}

.cloak-hide{
    margin-left: 50px;
    background-color: #000;

}

.hide-text{
    margin-left: 10px;
    opacity: .5;

    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.spanmenu-close{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 3px;
    top: -5px;
}

.spanmenu-close img {
    width: 15px;
    height: 15px;
    filter: brightness(0) invert(1);
    opacity: 0.5;
}

.spanmenu-close:hover img{
    opacity: 1;
}


.register-block {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: rgba(255,255,255,0.03);
    position: relative;
    display: inline-block;
    vertical-align: top;

    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 16px;
    padding-left: 108px;
    padding-right: 108px;
    padding-top: 37px;
    padding-bottom: 57px;
}

.login-block {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,0.03);

    display: inline-block;
    vertical-align: top;

    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 16px;
    padding-left: 108px;
    padding-right: 108px;
    padding-top: 37px;
    padding-bottom: 57px;
}

.login-input{
    display:flex;
    position: relative;
    height: 35px;
    width: 350px;
    margin-bottom: 30px;
}

#placeholder-login{
    color: #fff;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 16px;
}

.login-input input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline:none;
    padding-left: 5px;
    color: #fff;
    width: 100%;
}

.create-acc-text{
    text-align: center;
    color: #fff;
    margin-bottom: 66px;
    font-size: 24px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}

.password-input{
    display:flex;
    position: relative;
    height: 35px;
    width: 350px;
    margin-bottom: 30px;
}

.password-input p{
    color: #fff;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 16px;
}

.password-input input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline:none;
    padding-left: 5px;
    color: #fff;
    width: 100%;
}

.repeat-password-input{
    display:flex;
    position: relative;
    height: 35px;
    width: 350px;
    margin-bottom: 30px;
}

.repeat-password-input p{
    color: #fff;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 16px;
}

.repeat-password-input input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline:none;
    padding-left: 5px;
    color: #fff;
    width: 100%;
}

.email-input{
    display:flex;
    position: relative;
    height: 35px;
    width: 350px;
    margin-bottom: 59px;
}

.email-input p{
    color: #fff;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 16px;
}

.email-input input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline:none;
    padding-left: 5px;
    color: #fff;
    width: 100%;
}

.form-group g-recaptcha{
    margin-left: 25px;
    margin-right: 25px;

    margin-bottom: 26px;
}

.captcha-block p {
    text-align: center;

    color: #000;
    font-size: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-registration{
    margin-left: 75px;
    margin-right: 75px;
    height: 30px;
    border-radius: 10px;
    background: #0057FF;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}



.btn-registration button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.forgot-pass{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.forgot-pass a{
    color: #2929ff;
}

.remember-me{
    display: flex;
    text-align: center;
}

.remember-me input{
    margin-top: 2px;
    margin-right: 8px;
}

.remember-me p{
    color: #fff;
}

.href-login{
    margin-top: 40px;
    margin-left: 75px;
    display: flex;
}

.href-login p{
    margin-right: 5px;
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.href-login a{
    color: #2929ff;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-login{
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
    height: 30px;
    border-radius: 10px;
    background: #0057FF;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}

.btn-login button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.create-acc-text{
    color: #fff;
    font-size: 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.registration {
    display: flex;
    margin-left: 35px;
}

.registration p{
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.registration a{
    margin-right: 10px;
    color: #2929ff;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* addon-shop......................................................................................................*/

.addons_shop {
    display: flex;
    margin-top: 160px;
    width: 100%;
}

.addons_category {
    padding: 37px 39px 37px 39px;
    background: rgba(88, 84, 84, 0.18);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-right: 35px;
    height: min-content;
}

.category_header {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255);
    width: 322px;
}

.category_header p {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
}

.category_list {

}

.category {
    display: flex;
    margin-bottom: 15px;
}

.category p {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
}

.category p:hover {
    color: Blue;
}



.addons_services {
    display: flex;
    margin-bottom: 60px;
    height: 35px;
}

.addons_filter {
    display: flex;
    background: rgba(88, 84, 84, 0.18);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: min-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 560px;
}

.addons_filter:hover {
    border: 1px solid blue;
}

.addons_filter p {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    margin-right: 120px;
    height: max-content
}

.addons_filter img {
    margin-top: 8px;
}

.addon_filter_open {
    display: none;
    width: 230px;
    position: absolute;
    left: 650px;
    top: 290px;

    background: rgba(88, 84, 84, .9);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.addon_filter_open div{
    border-bottom: 1px solid rgba(255, 255, 255);
    width: 229px;
}

.addon_filter_open div:last-child {
    border-bottom: 0px solid rgba(255, 255, 255);
    width: 229px;
}

.addon_filter_open a{
    margin-left: 5px;
    width: max-content;

    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
}

.addon_filter_open a:hover{
    color: blue;
}

.addons-search{
    width: 100%;
}

.addons_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.addons_cards div.hide{
  display: none;
}

.addon {
    display: none;
    padding: 23px 25px 18px 25px;
    margin-right: 33px;
    margin-bottom: 36px;

    background: rgba(88, 84, 84, 0.18);
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 238px;
}

.addon:nth-child(4n) {
  margin-right: 0px;
}

.addon img{
    margin-bottom: 10px;
}

.addon_name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff
}

.addon_description{
    margin-top: 8px;
    margin-bottom: 15px;
    opacity: .7;
    color: rgba(255, 255, 255, 0.70);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 34px;

}

.addon_price{
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 10px;
}


.buy-btn {
    background: #0057FF;
    border-radius: 10px;

    display:flex;
    align-items: center;
    padding: 6px 11px 6px 65px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
}

.buy-btn p{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff
}

.reset-category-btn{
    background: #0057FF;
    border-radius: 10px;
    margin-top: 30px;
    display:flex;
    align-items: center;
    padding: 6px 11px 6px 75px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
}

.reset-category-btn p{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff
}





.container-pag{
    padding: 0px;
}

.container-pag .pagination {
  position: relative;
  height: 60px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  border-radius: 2px;
}
.container-pag .pagination li {
  list-style-type: none;
  display: inline-block;
}
.container-pag .pagination li p {
  position: relative;
  padding: 20px 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.container-pag .pagination li p:hover,
.container-pag .pagination li p.active {
  background: rgba(255, 255, 255, 0.2);
}

.page_item.disabled{
    pointer-events:none;
    opacity: .6;
}

/* .................................................................................................................*/





/* addon-page......................................................................................................*/


.addon_page_discription{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    width: 400px;
    margin-right: 60px;
    margin-top: 30px;
}


.slider-main{
    position: relative;
    width: min-content;
    height: min-content;
    margin-right: 136px;
    padding: 14px 14px 14px 14px;
    overflow: hidden;
    background: rgba(88, 84, 84, 0.18);
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider-container {
  position: relative;
  width: min-content;
  height: min-content;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 372px;
  height: 200px;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}



.addon_page_main {
    display: flex;
    margin-top: 222px;
    justify-content: center;
}

.addon_info_panel {
    background: rgba(88, 84, 84, 0.18);
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 23px;

}


.addon_page_name {
    border-bottom: 1px solid rgba(255, 255, 255);
    padding-bottom: 25px;
    margin-bottom: 16px;


}

.addon_page_name p{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 19px;
    color: #fff;
    margin-right: 30px;
}

.addon_page_price{
    margin-bottom: 32px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 19px;
    color: #fff
}

.addon_page_author {
    margin-bottom: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #fff
}

.addon_page_sovm{
    margin-bottom: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #fff
}

.addon-page-buy-btn {
    background: #0057FF;
    border-radius: 10px;


    padding: 6px 0px 6px 0px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
    text-align: center;
}

.addon-page-buy-btn p{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff
}
/* ................................................................................................................. */

/* homepage......................................................................................................... */

.home_page_main {
    margin-top: 160px;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}


.home_page_header {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    margin: 0px auto 50px;
    padding: 30px;
    background: rgba(88, 84, 84, 0.18);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 16px;
}

.home_page_header p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 19px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.home_page_info {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    margin: 0px auto;
    padding: 0px 30px 30px;
    background: rgba(88, 84, 84, 0.18);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 16px;
}

.home_page_info div:first-of-type {
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 30px auto;
}

.home_page_info h2 {
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.home_page_info div {
    width: min-content;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 30px auto 15px;
}

.home_page_info a {
    color: rgb(77, 136, 255);
    opacity: 1.5;
}

.home_page_info p {
    margin-top: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: rgb(255, 255, 255);
}

/* ............................................................................................................... */
.save-char-opts-icon{
    position: absolute;
    top: -26px;
    left: 0;
    right: 0;
    font-size: 20px;
    opacity: 0.5;
}

.lightbox-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    z-index: 50
}


.enter_talent {
    display: none;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    z-index: 100;
    text-align: center;
    width: 50vh;

    background: rgba(88, 84, 84, 0.18);
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.enter_talent p:first-child {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 30px;
}

.talent_list {
    overflow-y: auto;

    height: 28vh;
}

.talent_obj {
    display: flex;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.talent_obj img{
    pointer-events: none;
}

.talent_obj:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.talent_obj img:first-child{
    margin-right: 10px;
}

.talent_obj p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    pointer-events: none;
    height: min-content;
    text-align: center;
    margin: 15px auto;
}

.del_talent{
    width: 24px;
    height: min-content;
    margin-left: auto;
    margin-right: 0;
    margin-top: 15px;

    cursor: pointer
}

.del_talent img {
    pointer-events: none;
}

.user-char-list{
  margin-left: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 58vh;
}

/* ..........................alerts.................................... */
.notification-box {
    position: absolute;
    top:  93%;
    left: 89.3%;
    bottom: 0;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 30px;
}

.message-box {
    text-align: center;
    padding-right: 5px;

    border: 1px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;

    backdrop-filter: blur(10px);
}

.message-box.opacity-1{
    opacity: 1
}

.message-box.opacity-0{
    opacity: 0
}

.message-box.-translate-y-80{
    transform: translateY(-10px);
}

.message-box svg{
    color: #fff;
}

.message-box p{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px auto;
}