{% load i18n %}
{% autoescape off %}
<!doctype html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Simple Transactional Email</title>
  </head>
  <body>
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
<br/>
<br/>
{% translate "Please go to the following page and choose a new password:" %}
<br/>
<br/>
<!--  {{ protocol }}://{{ domain }}{% url 'user:password_reset_confirm' uidb64=uid token=token %} -->
    <a href="{% block reset_link %}{{ protocol }}://127.0.0.1:8000{% url 'user:password_reset_confirm' uidb64=uid token=token %}{% endblock %}" style="text-decoration: none; ">
<div style="width: 150px; padding: 7px; background: #0057FF; border-radius: 10px; filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3)); text-align: center; cursor: pointer; color:#fff; " >
    <p style="margin: 5px;">Сбросить пароль</p>
</div>
    </a>
<br/>
{% translate 'Your username, in case you’ve forgotten:' %} {{ username }}
<br/>
<br/>
{% translate "Thanks for using our site!" %}
<br/>
<br/>
{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}

      </body>
</html>
