{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'admin-chat.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="chats_list">
        {% for chat in all_chats %}
            <a href="{{ request.path }}?user-id={{ chat.slug }}">
        <div class="chat_obj" user-id="{{ chat.slug }}" state="{{ chat.state }}">
            <div class="chat_obj_header">
                <p>{% if chat.user %} {{ chat.user }} {% else %} Anonymous {% endif %}</p>
                <div class="chat_state">
                    <p>{{ chat.get_state_display }}</p>
                    <img src="{{ chat.get_status_icon }}" alt="Иконка состояния" width="15" height="15">
                    </div>
            </div>
            <div class="chat_obj_body">
                <p>{{ chat.messages.last.body }}</p>
                <p>{{ chat.messages.last.sended_time }}</p>
            </div>
        </div>
            </a>
        {% endfor %}
    </div>
    <div class="chat_with_user">
        <div class="chat_main_block">
    <div class="chat_window">
        <div class="chat_header">
            <p>{{ client.username }}</p>
            <div class="support_block">
                <div class="support_icon">
                    <img src="{% static 'img/other/user_icon.png' %}" alt="" width="30" height="30">
                </div>
                <p>В сети</p>
            </div>
        </div>

        <div class="chat">
            {% for message in chat_messages %}
                {% if message.user_id|add:0 != user.id|add:0 %}
                    <div class="support_message_block">
                <div class="support_message">

                    <div class="support_message_header">
                        <p>{{ client.username }}</p>
                    </div>

                    <div class="message">
                        <p>{{ message.body }}</p>
                    </div>

                    <div class="message_time">
                        <p>{{ message.sended_time }}</p>
                    </div>

                </div>

            </div>
            {% else %}
                    <div class="user_message_block">

                <div class="user_message">

                    <div class="message">
                        <p>{{ message.body }}</p>
                    </div>

                    <div class="message_time">
                        <p>{{ message.sended_time }}</p>
                    </div>

                </div>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
        <div class="send_message_block">
    <textarea class="message_input" placeholder="Будьте вежливы !"></textarea>
    <div class="send_message_button">
        <img src="{% static 'img/other/send_message.png' %}" alt="">
    </div>
</div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>

    const userID = {{ user.id }}
    const clientID = '{{ client.id }}'
    const clientUsername = '{{ client.username }}'

</script>

<script>

    if(window.location.search != ""){
        const ChatSocket = new WebSocket('ws://' + window.location.host + `/ws/support/chat/${clientID}/`)


        ChatSocket.onmessage = function(e) {
            onChatMessage(JSON.parse(e.data))
        }

        function onChatMessage(data) {
        console.log('onChatMessage', data)
        var chat = document.querySelector('.chat')

        if (data.type == 'chat_message'){
            if (data.user_id == userID) {
                chat.innerHTML += `<div class="user_message_block">

                <div class="user_message">

                    <div class="message">
                        <p>${data.message}</p>
                    </div>

                    <div class="message_time">
                        <p>${data.sended_time}</p>
                    </div>

                </div>
            </div>`
            }else {
                chat.innerHTML += `<div class="support_message_block">
                <div class="support_message">

                    <div class="support_message_header">
                        <p>${clientUsername}</p>
                    </div>

                    <div class="message">
                        <p>${data.message}</p>
                    </div>

                    <div class="message_time">
                        <p>${data.sended_time}</p>
                    </div>

                </div>

            </div>`
            }
        }
        fix_message() // При получении сообщения чат не должен прокручиваться вниз, только при отправке!!!
    }

    function sendMessage() {
        var messageDom = document.querySelector('.message_input')
        var message = messageDom.value
        if(message != '' && message.trim() != ''){
            if (message.length < 300){
                ChatSocket.send(JSON.stringify({
                    'type': 'message',
                    'message': message,
                    'user_id': userID
                }))
                messageDom.value = ""
            } else {
                sendNotification('warning', 'Максимальная длина сообщения - 300 символов')
            }
        }
    }

    document.querySelector('.send_message_button').onclick = sendMessage

    $('.message_input').keypress(function (e) {
        if(e.which === 13 && !e.shiftKey) {
            console.log('qweqwe')
            e.preventDefault();

            sendMessage();
        }
    });

    } else {
        document.querySelector('.chat_with_user').style.display = 'none';
    }

    ChatSocketAdmin.onmessage = function(e) {
        var data = JSON.parse(e.data)
        console.log(data)
        update_chat(data)
    }



function fix_message(){
    var message = document.querySelectorAll('.message')
    message.forEach((a) => {
           if(a.offsetWidth > 413) {
             a.style.whiteSpace = "normal";
             a.style.wordWrap = "break-word";
             a.parentElement.style.width = '100%';
             a.style.width = '100%';
           }
         });

    document.querySelector(".chat").scrollTop = 9999999
}



if(window.location.search != ""){
    fix_message()
}

function sorted_chats() {
    chats = document.querySelector('.chats_list')

    var items = chats.childNodes;
    var itemsArr = [];
    for (var i in items) {
        if (items[i].nodeType == 1) { // get rid of the whitespace text nodes
            itemsArr.push(items[i]);
        }
    }

    itemsArr.sort(function(a, b) {
      return a.childNodes[1].getAttribute('state') == b.childNodes[1].getAttribute('state')
              ? 0
              : (a.childNodes[1].getAttribute('state') > b.childNodes[1].getAttribute('state') ? 1 : -1);
    });
    for (i = itemsArr.length-1; i > -1; i=i-1) {
      chats.appendChild(itemsArr[i]);
    }

}

sorted_chats()

function update_chat(data){

    var message = data.message
    var sended_time = data.sended_time
    var user_id = data.user_id
    var username = data.username

    var chat = document.querySelector(`[user-id="${user_id}"]`);
    if (chat) {

        chat.children[1].children[0].innerText = message
        chat.children[1].children[1].innerText = sended_time

        if(("234".indexOf(chat.getAttribute('state')) == -1)) {
            chat.setAttribute('state', '3')
            chat.children[0].children[1].children[0].innerText = 'Новое сообщение'
            chat.children[0].children[1].children[1].src = 'static/img/other/new_message.png'
        }

    } else {
        chats_list = document.querySelector('.chats_list')
        var url = `/support/admin-chat/?user-id=${user_id}`
        chats_list.innerHTML += `<a href="${url}">
        <div class="chat_obj" user-id="${user_id}" state="3">
            <div class="chat_obj_header">
                <p>${username}</p>
                <div class="chat_state">
                    <p>Новое сообщение</p>
                    <img src="static/img/other/new_message.png" alt="Иконка состояния" width="15" height="15">
                    </div>
            </div>
            <div class="chat_obj_body">
                <p>${message}</p>
                <p>${sended_time}</p>
            </div>
        </div>
            </a>`
    }

    sorted_chats()
}
</script>
{% endblock %}
