{% load static %}


<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://wow.zamimg.com/modelviewer/wrath/viewer/viewer.min.js"></script>
    <script src="{% static 'js/wow-model-viewer/index.js' %}"></script>
     <base href="http://127.0.0.1:8000/">
      <script>const whTooltips = {colorLinks: false, iconize: 'large', renameLinks: false};</script>
      <script src="https://wow.zamimg.com/js/tooltips.js"></script>
<!--    <base href="www.wowhead.com">-->
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,600;1,200;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Kenunchik</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block css %}\

      {% endblock %}

  </head>
<body>
    <div class='header'>
       <div class='header-line'>

         <div class='header-logo'>
           <p>ЛОГО</p>
         </div>

         <div class='nav'>

           <a class='nav-item' href="@">Главная</a>
           <a class='nav-item' href="{% url 'char' %}">Персонаж</a>
           <a class='nav-item' href="@">Таланты</a>
           <a class='nav-item' href="@">Аддоны</a>
           <a class='nav-item' href="@">Услуги</a>

         </div>



        <nav _ngcontent-gox-c59="" class="navbar navbar-expand-xl navbar-dark bg-navbar select-none">
          <div _ngcontent-gox-c59="" id="nav-menu" class="collapse navbar-collapse">

            <div _ngcontent-gox-c59="" class="dropdown float-left d-none d-xl-inline">
              <button _ngcontent-gox-c59="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-select-lang dropdown-toggle">
                <img _ngcontent-gox-c59="" src="{% static 'img/langue/RU.svg' %}">
              </button>

              <div _ngcontent-gox-c59="" aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                  <span _ngcontent-gox-c59="" class="dropdown-item">
                    <form action="https://frishub.ru/i18n/setlang/" method="POST">
                      <input type="hidden" name="csrfmiddlewaretoken" value="Ndcf8DyDe3PA6WdlG4NW1aEuhlZonnitVPlue1mbMKPgtBcbVQ1vkoDJRvtGDJHL">
                      <input _ngcontent-gox-c59="" class="russian-btn" type="hidden" name="language" value="ru">
                      <input _ngcontent-gox-c59="" class="russian-btn" value="Русский" type="button">
                    </form>
                  </span>

                  <span _ngcontent-gox-c59="" class="dropdown-item">
                    <form action="https://frishub.ru/i18n/setlang/" method="POST">
                      <input type="hidden" name="csrfmiddlewaretoken" value="Ndcf8DyDe3PA6WdlG4NW1aEuhlZonnitVPlue1mbMKPgtBcbVQ1vkoDJRvtGDJHL">
                      <input _ngcontent-gox-c59="" class="english-btn" type="hidden" name="language" value="en">
                      <input _ngcontent-gox-c59="" class="english-btn" value="English" type="submit">
                    </form>
                  </span>

              </div>
            </div>
          </div>
        </nav>


         </div>

       </div>

  {% block content %}

  {% endblock %}

  {% block footer %}

  {% endblock %}

</body>

{% block js %}

{% endblock %}

</html>