{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'services.css' %}">

<script>
    communication_type = ""
    {% if user.discord != "" %}
        communication_type = "Discord"
    {% endif %}
    var data = {
        "type": "",
        "server": "",
        "fraction": "",
        "class": "",
        "mentor": "",
        "username": "",
        "communication": communication_type
    }
</script>
{% endblock %}

{% block content %}
<div class="main">
    <div class="serv_header">
        <p>Предварительная запись</p>
    </div>

    <div class="serv_content">
        <div class="block_left">
            <div class="field_name">
                <p>Тип услуги:</p>
                <p>Сервер:</p>
                <p>Сторона:</p>
                <p>Класс:</p>
            </div>
            <div class="field_input">
                <div class="set_value" id="set_value_type" onclick="content_block_show('type', 1)"id="set_value_type" >
                    <p>Выбрать</p>
                    <img src="{% static 'img/other/white_triangle.png' %}" width="17" height="17" id="tringle1">
                </div>
                <div class="set_value" id="set_value_server" onclick="content_block_show('server', 2)">
                    <p>Выбрать</p>
                    <img src="{% static 'img/other/white_triangle.png' %}" width="17" height="17" id="tringle2">
                </div>
                <div class="set_value" id="set_value_fraction" onclick="content_block_show('fraction', 3)">
                    <p>Выбрать</p>
                    <img src="{% static 'img/other/white_triangle.png' %}" width="17" height="17" id="tringle3">
                </div>
                <div class="set_value" id="set_value_class" onclick="content_block_show('class', 4)">
                    <p>Выбрать</p>
                    <img src="{% static 'img/other/white_triangle.png' %}" width="17" height="17" id="tringle4">
                </div>
            </div>
        </div>
        <div class="block_right">
            <div class="field_name">
                <p>Ментор:</p>
                <p>Способ связи:</p>
                <p>Имя пользователя:</p>
            </div>
            <div class="field_input">
                <div class="set_value" id="set_value_mentor" onclick="content_block_show('mentor', 5)">
                    <p>Выбрать</p>
                    <img src="{% static 'img/other/white_triangle.png' %}" width="17" height="17" id="tringle5">
                </div>
                {% if user.discord %}
                <div class="set_value" id="set_value_communication" onclick="content_block_show('communication', 6)">
                    <p>Discord</p>
                    <img src="{% static 'img/other/white_triangle.png' %}" width="17" height="17" id="tringle6">
                </div>
                <div class="username-input" id="username-input">
                    <input type="text" id="input-username" value="{{ user.discord }}" style="opacity: 1; pointer-events: auto;">
                </div>
                {% else %}
                <div class="set_value" id="set_value_communication" onclick="content_block_show('communication', 6)">
                    <p>Выбрать</p>
                    <img src="{% static 'img/other/white_triangle.png' %}" width="17" height="17" id="tringle6">
                </div>
                <div class="username-input" id="username-input">
                    <input type="text" id="input-username" style="pointer-events: none; opacity: 0.3;">
                </div>
                {% endif %}

            </div>
        </div>
        <div class="content_block" open="False" id="type">
            {% for type in types %}
            <div class="content_obj" onclick="enter_content_obj(event)">
                <p>{{ type.name }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="content_block" open="False" id="server">
            {% for server in servers %}
            <div class="content_obj" onclick="enter_content_obj(event)">
                <p>{{ server.name }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="content_block" open="False" id="fraction">
            {% for fraction in fractions %}
            <div class="content_obj" onclick="enter_content_obj(event)">
                <p>{{ fraction.name }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="content_block" open="False" id="class">
            {% for class in classes %}
            <div class="content_obj" onclick="enter_content_obj(event)">
                <p>{{ class.name }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="content_block" open="False" id="mentor">
            {% for mentor in mentors %}
            <div class="content_obj" onclick="enter_content_obj(event)">
                <p>{{ mentor.name }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="content_block" open="False" id="communication">
            {% for communication in communications %}
          <div class="content_obj" onclick="enter_content_obj(event)">
                <p>{{ communication.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="additional_comment">
        <p>Доп. коментарий</p>
        <div class="comment-input" id="comment-input">
            <textarea type="text" id="input-comment"></textarea>
        </div>
    </div>

    <div class="send_button" onclick="sendRequest()">
        <p>Записаться</p>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

    function content_block_show(block_id, tringle_id){
        var obj = document.querySelector(`#${block_id}`)
        var all_obj = document.querySelectorAll('.content_block')
        //obj.style.display = "block";
        var attr = obj.getAttribute("open")
        all_obj.forEach(function (elem) {
            elem.setAttribute("open", "False")
            elem.style.display = "none"
        });
        if(attr == "False"){
            rotate_tringle(0, tringle_id);
            obj.setAttribute("open", "True")
            obj.style.display = "block"
        }

        if(attr == "True"){
            rotate_tringle(180, tringle_id);
            obj.setAttribute("open", "False")
            obj.style.display = "none"
        }
    }

   function rotate_tringle(d, tringle_id){
        var d= d;
        if(d == 0){
            var rotate_interval = setInterval(function w(){
            if(d == 180){
                clearInterval(rotate_interval);
            };
            document.getElementById(`tringle${tringle_id}`).style['-webkit-transform']= `rotate(${d + "deg"})`;
            d +=3;
            },4);
        };

        if(d == 180){
            var rotate_interval = setInterval(function w(){
            if(d == 360){
                clearInterval(rotate_interval);
            }
            document.getElementById(`tringle${tringle_id}`).style['-webkit-transform']= `rotate(${d + "deg"})`;
            d +=3;
            },4);
        };
    };

    function enter_content_obj(event){
        var e = event || window.event;
        var target = e.target;

        var parent = target.parentElement;
        var type = parent.getAttribute('id');
        var set_value = document.querySelector(`#set_value_${type}`)
        var tringle_id = parseInt(document.querySelector(`#set_value_${type} img`).getAttribute("id").slice(-1));

        var value = target.innerText;
        if (type == "communication"){
            document.querySelector(`#input-username`).style.pointerEvents = "auto";
            document.querySelector(`#input-username`).style.opacity = 1;
        }
        data[type] = value;
        set_value.childNodes[1].innerText = value;
        rotate_tringle(180, tringle_id);
        parent.setAttribute("open", "False")
        parent.style.display = "none"

    }

    function sendRequest(){
        data["username"] = document.querySelector("#input-username").value
        if(document.querySelector("#input-comment").value != "") data["comment"] = document.querySelector("#input-comment").value
        if(Object.values(data).includes("") == false){
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: document.URL,
                data: JSON.stringify(data),
                headers: { 'X-CSRFToken': csrftoken },
            });
        } else {
            sendNotification('error', 'Необходимо заполнить все поля!')
        }
    }

    $(document).ajaxSuccess(function(event, request, settings) {
        if (request.responseJSON['status'] == 'message sent successfully') {
           window.location.replace(document.URL+ "success");
        }
    });

</script>
{% endblock %}