{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'reset_password.css' %}">
{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
<div class="set_new_password_block">
  {% if validlink %}
  <div class="set_new_password_header">
    <p>Придумайте новый пароль</p>
  </div>
  <div class="set_new_password_main">
    <div class="set_new_password_inputs_desc">
      <p>Введите новый пароль</p>
      <p>Подтвердите пароль</p>
    </div>
    <div class="set_new_password_inputs">
    {{ form.new_password1 }}
    {{ form.new_password2 }}
      </div>
  </div>
  <div class="set_new_password_footer">
    <div class="button_set_new_password">
    <button type="submit" value="Сбросить пароль">Изменить пароль</button>
      </div>
  </div>
  {% else %}
  <p class="invalid-link">Ссылка недействительная, скорее всего она уже использовалась. Попробуйте запросить сброс пароля еще раз.</p>
  {% endif %}
</div>
</form>
{% endblock %}