{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}
<div class="main-registration-block">
<div class="register-block">

    <div class="create-acc-text">

        <p>Создание аккаунта</p>

    </div>

    <div class="input-block">
    <form action="{% url 'user:registration' %}" method="post" >
        {% csrf_token %}
    <div class="login-input" id="login-input">

        <p id="placeholder-login">Логин</p>
        {{ form.username }}

    </div>
    <div class="password-input" id="password-input">

        <p id="placeholder-password">Пароль</p>
        {{ form.password1 }}

    </div>
    <div class="repeat-password-input" id="repeat-password-input">

        <p id="placeholder-repeat-password">Подтвердите пароль</p>
        {{ form.password2 }}

    </div>
    <div class="email-input" id="email-input">

        <p id="placeholder-email">Почта</p>
        {{ form.email }}

    </div>
            <script type="text/javascript">
        function flash_captcha(){
            var state = 'show'
            // повторить с интервалом .2 секунды
            let timerId = setInterval(() => {
                if(state == 'show'){
                    document.querySelector('#RecaptchaField1').style.opacity = 0
                    state = 'hide'
                }
                else {
                   document.querySelector('#RecaptchaField1').style.opacity = 1
                    state = 'show'
                }
            }, 200);

            // остановить вывод через 1.2  секунд
            setTimeout(() => clearInterval(timerId), 1200);
        }
        var verifyCallback = function(response) {
            console.log('captchacallback')
            var captcha = grecaptcha.getResponse()
            var button = document.querySelector('.button_register')
            if (captcha.length){
                button.setAttribute('type', 'submit');
                button.setAttribute('onclick', '');
            }
      };
//        var onloadCallback = function() {
//       grecaptcha.render(document.getElementById('RecaptchaField1'), {
//          'sitekey' : '6LdV7zIpAAAAAGbJFz3JWZ9cIrQNJbh6NDF1Oj2t',
//          'callback' : verifyCallback,
//          'theme' : 'light'
//        });
//    alert("grecaptcha is ready!");
//  };

//        var onloadCallback = function() {
//
//    if ( $('#RecaptchaField1').length ) {
//        grecaptcha.render('RecaptchaField1', {
//            'sitekey' : '6LdV7zIpAAAAAGbJFz3JWZ9cIrQNJbh6NDF1Oj2t',
//            'theme': 'light',
//            'callback': 'verifyCallback'
//        });
//    }
//};
</script>

        {{ form.captcha }}

    </div>

<!--    <div class="captcha-block">-->

<!--        <p>reCAPTCHA</p>-->

<!--    </div>-->



<!--        <script src='https://www.google.com/recaptcha/api.js'></script>-->
<!--        <div class="g-recaptcha" id="RecaptchaField1" data-sitekey="6LdV7zIpAAAAAGbJFz3JWZ9cIrQNJbh6NDF1Oj2t" render="explicit" data-theme="light" style="margin: 0px 25px 26px 25px;"></div>-->

<!--        <div id="RecaptchaField1" style="margin: 0px 25px 26px 25px;"></div>-->

        <div class="btn-registration">

        <button type="button" class="button_register" onclick="flash_captcha()">Регистрация</button>

        </div>



    </form>
<!--<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"-->
<!--        async defer>-->
    </script>
    <div class="href-login">
        <p>Уже есть аккаунт?</p>
        <a href="{% url 'user:login' %}">Войти</a>
    </div>

</div>
    </div>
{% endblock %}

{% block js %}
<script type="module">

    // input anim...............................................................................................

        function inputcheck(textid, input) {
            var text = document.getElementById(`${textid}`);
            let coords = {top: text.offsetTop, left: text.offsetLeft};
            console.log(coords);

            var top = text.offsetTop;
            var left = text.offsetLeft;

            console.log(text.offsetLeft, text.offsetTop);
            var fsize = 16;
            if(window.getComputedStyle(text, null).fontSize == fsize + "px"){

            var topy = setInterval(topfunc, 10);
            var leftx = setInterval(leftfunc, 23);
            var fsizex = setInterval(fsizefunc, 23);
            function topfunc() {
                var direction = 1;
                if(top == coords.top - 25) {
                    clearInterval(topy);
                }else {
                    console.log(1);
                    top -= 1 * direction;
                    text.style.top = top + "px";
                }
                }

            function leftfunc() {
                var direction = 1;
                if(left == coords.left - 5) {
                    clearInterval(leftx);
                }else {
                     left -= 1 * direction;
                    text.style.left = left + "px";
                }
                }

            function fsizefunc() {
                var bttn = document.getElementById(`${input}`);
                var direction = 1;
                if(fsize == 13) {
                    bttn.disabled = false;
                    clearInterval(fsizex);
                }else {
                    fsize -= 1 * direction;
                    text.style.fontSize = fsize + "px";
                }
                }
                }
        }

        function inputout(idtext, input) {
            var text = document.getElementById(`${idtext}`);

            //console.log(document.getElementById(`${input}`).value) //--- чтение из инпута
            if(document.getElementById(`${input}`).value == ""){

            let coords = {top: text.offsetTop, left: text.offsetLeft};
            //console.log(coords);

            var top = text.offsetTop;
            var left = text.offsetLeft;

            //console.log(text.offsetLeft, text.offsetTop);
            var fsize = 13;
            if(window.getComputedStyle(text, null).fontSize == fsize + "px"){


            var topy = setInterval(topfunc, 10);
            var leftx = setInterval(leftfunc, 23);
            var fsizex = setInterval(fsizefunc, 25);

                function topfunc() {
                    var direction = -1;
                    if(top == coords.top + 25) {
                        clearInterval(topy);
                    }else {
                        top -= 1 * direction;
                        text.style.top = top + "px";
                    }
                    }

                function leftfunc() {
                    var direction = -1;
                    if(left == coords.left + 5) {
                        clearInterval(leftx);
                    }else {
                         left -= 1 * direction;
                        text.style.left = left + "px";
                    }
                    }

                function fsizefunc() {
                    var bttn = document.getElementById(`${input}`);
                    var direction = -1;
                    if(fsize == 16) {
                        bttn.disabled = false;
                        clearInterval(fsizex);
                    }else {
                        bttn.disabled = true;
                        fsize -= 1 * direction;
                        text.style.fontSize = fsize + "px";
                    }
                    }
                    }
            }


        }

        // вызов функции на нажатие инпут
        document.getElementById("input-login").addEventListener('mousedown', inputcheck.bind(null, "placeholder-login", "input-login"));
        document.getElementById("input-login").addEventListener('focus', inputcheck.bind(null, "placeholder-login", "input-login"));
        document.getElementById("input-password").addEventListener('mousedown', inputcheck.bind(null, "placeholder-password", "input-password"));
        document.getElementById("input-password").addEventListener('focus', inputcheck.bind(null, "placeholder-password", "input-password"));
        document.getElementById("input-repeat-password").addEventListener('mousedown', inputcheck.bind(null, "placeholder-repeat-password", "input-repeat-password"));
        document.getElementById("input-repeat-password").addEventListener('focus', inputcheck.bind(null, "placeholder-repeat-password", "input-repeat-password"));
        document.getElementById("input-email").addEventListener('mousedown', inputcheck.bind(null, "placeholder-email", "input-email"));
        document.getElementById("input-email").addEventListener('focus', inputcheck.bind(null, "placeholder-email", "input-email"));


        // вызов функции при ухода из инпута
        document.getElementById("input-login").addEventListener('focusout', inputout.bind(null, "placeholder-login", "input-login"));
        document.getElementById("input-password").addEventListener('focusout', inputout.bind(null, "placeholder-password", "input-password"));
        document.getElementById("input-repeat-password").addEventListener('focusout', inputout.bind(null, "placeholder-repeat-password", "input-repeat-password"));
        document.getElementById("input-email").addEventListener('focusout', inputout.bind(null, "placeholder-email", "input-email"));

//................................................................................................................................................


</script>

{% endblock %}