{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'reset_password.css' %}">
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'user:reset_password' %}">
    {% csrf_token %}
<div class="forgot_pass_block">
    <div class="forgot_pass_header">
        <p>Восстановление пароля</p>
    </div>
    <div class="forgot_pass_main">
        <p>Введите электронную почту связанную с аккаунтом. Вы получите письмо на указанную почту с дальнейшими указаниями.</p>
        <div class="forgot_pass_email">
<!--            <input type="email" id="forgot_pass_input" placeholder="">-->
        {{ form.email }}
        </div>
    </div>
    <div class="forgot_pass_footer">
        <div class="button_forgot_pass">
            <button type="submit" value="Сбросить пароль">Сбросить пароль</button>
        </div>
    </div>

</div>
    </form>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}